[2017-02-14 16:20] bee2502 opened #1 "Getting more done in GitHub with ZenHub"
Hola! @bee2502 has created a [ZenHub](http://www.zenhub.com) account for the **mozilla** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOnboard

[2017-02-14 16:20] #1 closed

[2017-02-15 05:33] emmairwin opened #2 "All invitations for Design Sprint have been sent to volunteers, staff and external experts/leaders"
## Objective Goal:
We have sent emails with invitation to Design sprint to all participants.

## Related documents and links
* https://wiki.mozilla.org/Diversity_and_Inclusion_Strategy_for_Participation/Design_Sprint

## Item list:
- [ ] Send email to all volunteer invites (R:)
- [ ] Send email to all staff invites  (R:)
- [ ] Send email to all external expert invites (R:)
- [ ] Manage all Visa is

[2017-02-15 07:07] psubhashish opened #3 "First language interview with two Mozillians"
## Objective Goal:
Conducting first language interview (in [Telugu-language)](https://en.wikipedia.org/wiki/Telugu_language) with two Mozillians by February 21

## Related documents and links

## Item list:
- [x] Identifying a first language interviewer and a notetaker (Dyvik Chenna and Deepak Upendra selected) (R: @psubhashish )
- [x] Getting the script translated (thanks to Dyvik and Deepak) (R:

[2017-02-15 13:14] kristiprogri opened #4 "Goals for week (Feb 13th-Feb19th)"
## Objective Goal:
Finish my blogpost, translating interviews in English, translating all scripts in Albanian, FAQ.

## Related documents and links
* [<a href="http://kristiprogri.com/">kristiprogri.com</a>]
   [<a href="https://docs.google.com/document/d/1Y94l4oT2GjqSdj0s3ZuHSmQWwXCC3lcBfsjPBNxurYY/edit?ts=58a1b116/">https://docs.google.com/document/d/1Y94l4oT2GjqSdj0s3ZuHSmQWwXCC3lcBfsjPBNxurYY/

[2017-02-15 15:14] emmairwin opened #5 "A Blog for Mother Language Day is published reflecting inspiring work with first language interviews"
## Objective Goal:
Blog post posted Feb 21

## Related documents and links

## Item list:
- [x] collect [stories](https://docs.google.com/document/d/1q6edoKs0NVNK1aPxAybuBNkYraq2qvP-JgXA36qQ-tE/edit), [photos](https://drive.google.com/drive/u/1/folders/0B7mlsiMB0h-9RHlxYWJxZEZMZGc) related to first language interviews (R: @psubhashish @emmairwin)
- [x] Created a [email template](https://docs.googl

[2017-02-15 15:14] emmairwin commented on #5
@psubhashish I put this as a task so we don't lose it as a goal, I am offering to write post if you can help me collect content?  Does this sound oK?

[2017-02-15 19:31] emmairwin commented on #3
@psubhashish who is doing the interviews?

[2017-02-16 10:07] psubhashish commented on #3
@emmairwin It's Dyvik, a Rep from Hyderabad. I have sent him the the script and am waiting for the translation.

[2017-02-16 10:10] psubhashish commented on #5
@emmairwin yes, absolutely, and thanks for following up on this. I will try to gather some narratives that will fit well for the IMLD.

[2017-02-21 05:49] emmairwin opened #6 "Finalizing sprint list of invites"
## Objective Goal:
Finalize invite list,  including nominations from those who canno attend

## Item list:
- [ ] Individual item that should happen (R: @emmairwin)

[2017-02-21 05:49] emmairwin commented on #4
Hi Kristy please update this as in progress, or completed.   Thank you

[2017-02-21 05:50] emmairwin opened #7 "Setting up interview opportunities for Mike w/Rust & Firefox."
## Objective Goal:
Put on the calendar, discussions about Rust and Firefox with Mike and Bee

[2017-02-21 05:51] emmairwin opened #8 "1:1 & Focus Group Interviews in English"
## Objective Goal:
Continued interviews 1:1 and focus groups

[2017-02-21 05:51] emmairwin opened #9 "Draft of event arc and sessions / setting up weekly check in with Rina."
## Objective Goal:

Draft of event arc and sessions / setting up weekly check in with Rina.

[2017-02-21 05:53] emmairwin opened #10 "Adding interviews to the tracking sheet created by Nasma"
## Objective Goal:
Adding interviews to the tracking sheet created by Nasma  (back tracking)

[2017-02-21 05:54] emmairwin opened #11 "Finalizing sprint logistics - food etc with Francisco"
## Objective Goal:
Finalizing sprint logistics - food etc with lovely Francisco

[2017-02-21 05:54] emmairwin opened #12 "Publishing Activate campaign for CPG, once passed approval from Larissa and Konstantina."
## Objective Goal:
Publishing Activate campaign for CPG, once passed approval from Larissa and Konstantina.

[2017-02-21 05:55] emmairwin opened #13 "Start documenting themes/tagging based on notes so far."
## Objective Goal:
Start documenting themes/tagging based on notes so far.

[2017-02-21 05:57] emmairwin opened #14 "Identify Mozillian and Rep data to request from ParSys"
## Objective Goal:
Please profile information on mozillians.org and https://reps.mozilla.org/ and create a list of fields to request from participation systems.  Email to me and Mike ( I will forward to Henrick).  The best way to view fields in Mozillians is to go to the edit screen for your profile.

[2017-02-21 09:28] bee2502 opened #15 "Generate user stories to fetch data from Bitergia Community Analytics dashboard."
## Objective Goal:
Generate user stories to give as input into software/systems team for community analytics as input to software & systems team for review and implementation into software.systems for future data collection & analysis.

## Related documents and links
* [Discourse thread 1](/https://discourse.mozilla-community.org/t/analytics-at-open-innovations-participation-systems-team/12262)
*

[2017-02-21 09:54] bee2502 opened #16 "Conduct preliminary analysis of data sources"
## Objective Goal:

Conduct preliminary analysis of data sources to gain insights and identify critical issues we need to look at. Analysis to be conducted on four identified attributes for this phase (gender, country, age, language) and their intersections.

Goals for preliminary analysis :
* To identify what we know
* To identify what we don’t know / Do we need more data in this areas ?
* Provid

[2017-02-21 10:07] bee2502 commented on #16
Bee will be analysing Sentiment Survey, Womoz Survey and Community Meetups data for first phase. Mike will be looking into All Hands data.

[2017-02-21 10:14] bee2502 opened #17 "Provide a strategy for quality measurement of existing data sources."
## Objective Goal:

Provide a strategy for quality measurement of existing data sources. This would lead us to a breakdown of each data source, with ‘relevance/quality rating’ that helps us understand whether the data should be kept or discarded in baseline measurements.

## Related documents and links
* [Original list of Data Sources](/https://docs.google.com/a/mozilla.com/document/d/1Pwr14MinBrM

[2017-02-21 10:15] bee2502 commented on #17
We have a [breakdown of data sources](https://docs.google.com/a/mozilla.com/spreadsheets/d/1G-GwPZQcAR7muVXMCiCEI-8a5ULErx70wAhDo_P860g/edit?usp=sharing) available now.

[2017-02-21 10:32] bee2502 opened #18 "Keep new data sources list up-to-date"
## Objective Goal:

## Related documents and links
* [New data sources list](/https://docs.google.com/a/mozilla.com/spreadsheets/d/1G-GwPZQcAR7muVXMCiCEI-8a5ULErx70wAhDo_P860g/edit?usp=sharing)

## Item list:
- [x] Update information on data sources where access has been provided (R:)
- [x] Highlight data sources where data access is still an issue (R:)
- [x] Update document with information on da

[2017-02-21 11:09] bee2502 opened #19 "Building FAQ for conducting First Language Interviews"
## Objective Goal:
Building FAQ for conducting First Language Interviews

## Related documents and links
* [Links here](/thelink)

## Item list:
- [x] Compile a list of all resources available for assisting with conducting first language interviews (R: Kristi, Nasma, Bee)
- [x] Compile a FAQ to help first language interviewers get started (R: Kristi, Bee)
- [x] Collect feedback on FAQ from first l

[2017-02-21 11:11] bee2502 commented on #19
@emmairwin , I am not able to assign this to Kristi and Nasma. Also, I cannot even tag them in comments. Can you look into this please ?

[2017-02-21 11:40] couci commented on #12
Issue related to this: https://github.com/mozilla/community-development/issues/527

[2017-02-21 12:12] bee2502 opened #20 "Add women-specific questions to general script for interviews with Womoz/Women in FOSS groups."
## Objective Goal:
Add women-specific questions to general script for interviews with Womoz/Women in FOSS groups.

## Item list:
- [x] Research on women-focused D&I surveys (R:)
- [x] Shortlist upto five questions and review with Emma (R:)
- [x] Create a women-focused interview script (non-Mozillians) and share it in relevant folders (R:)
- [x] Create a womoz-focused interview script and share it

[2017-02-21 12:49] bee2502 opened #21 "First Language 1:1 and Women Focus Groups"
## Objective Goal:

- Conducting Hindi Language 1:1 Interviews and Focus Groups.
- Conducting Women-oriented Focus Groups
- Assisting with Tamil and Malyalam oriented Focus Groups

## Related documents and links
* [Tracking Interviews README](/https://docs.google.com/a/mozilla.com/document/d/1Er65NVbRn6KjMMeEtzPT2DDAo1nXCAQW2sw3lhwaN3w/edit?usp=sharing)
* [Tracking Interviews Spreadsheet](/https:/

[2017-02-21 13:15] mjskang opened #22 "Experiment with R Query Tools"
## Objective Goal:
Assess feasibility of using R functions to quickly create data analysis.

## Related documents and links
* Making use of the [QDAP Library in R to assess sentiment of written responses](/https://trinker.github.io/qdap/polarity.html)

## Item list:
o	Build R query tool for quick headline diversity analysis (e.g. gender and country) of any CSV data set
o	Build R query tool for NLP

[2017-02-21 13:18] mjskang opened #23 "Build overall framework to describe the analysis strategy/ process we are in now"
## Objective Goal:
The data analysis process is confusing has many facets.  The goal is to create an overall framework to help clarify the process we are in now, where it is going, and what its inputs are.

## Related documents and links
* Draft framework (work in progress) is here: https://docs.google.com/document/d/1gjyQ4FpAqULjBIbMdDzYPAVDOravyNOrkA4iPocWJ6s/edit)

## Item list:
- Draft and sha

[2017-02-21 13:42] mjskang opened #24 "Create an analysis of the D+I “frontiers” Mozilla is facing"
## Objective Goal:
Create descriptive analysis of where Mozilla fits into the broader context of D+I, including understanding where it is leading (i.e. tackling unique issues) vs. following (i.e. tackling issues others have resolved).

## Item list:
- Consult items on this list:  https://docs.google.com/document/d/1fyd43kojZlhNhbUZsitFj-hT749q7y2Xk5QIpyH5VBw/edit
(open to suggestions for more!)

[2017-02-21 13:45] mjskang opened #25 "Interview Rust and Firefox"
## Objective Goal:
Learn about the D+I stories of Rust and Firefox

## Item list:
- Interview Rust
- Interview Firefox

[2017-02-21 14:33] bee2502 commented on #14
A list of all data attributes in Mozillians and Reps db is[ here.](https://docs.google.com/a/mozilla.com/document/d/1D2FxjgvluupY6u8InVX6Sg3lVBNfnz1xUHZA-NbnrDQ/edit?usp=sharing) Attributes selected for further analysis have been highlighted.

A list of just selected attributes for both Mozillians and Reps with sample questions detailing why they have been selected is[ here](https://docs.google.co

[2017-02-22 02:35] elidron opened #26 "Interviews in first Language"
## Objective Goal:
Finish documenting & scheduling first languages (lack of time from Mozillian for being interviewed)

## Related documents and links
* [https://docs.google.com/document/d/12IpOdOSVrjb4fMXHVMuOJl4utHnwV3UwUyNT5aeJ33g/edit](/thelink)
* [https://docs.google.com/spreadsheets/d/1D1eweA2LpDURqZkqQ33bh5lWDzoRnbd77duSOuZ4i5w/edit#gid=1469966721](/thelink)

## Item list:
- [x] Schedule Ne

[2017-02-22 05:06] emmairwin commented on #14
Thank you, consider this completed

[2017-02-22 14:18] kristiprogri commented on #19
Will be sending the FAQ for review today.

[2017-02-22 14:39] kristiprogri opened #27 "Conducting 1:1 interviews with Kosovar Mozilla Community"
## Objective Goal:

Having 1:1 interviews with the members of FLOSSK that are directly involved with Mozilla.

## Related documents and links
* <a href="http://www.flossk.org/en">Mozilla in FLOSSK</a>
<a href="https://docs.google.com/document/d/1Y94l4oT2GjqSdj0s3ZuHSmQWwXCC3lcBfsjPBNxurYY/edit?ts=58a1b116">Conducting Interviews</a>

## Item list:
- [x] Schedule Interview in the upcoming days.(R:)

[2017-02-22 14:58] kristiprogri opened #28 "Conducting focus groups and 1:1 interviews with "Girls Coding Kosovo""
## Objective Goal:
Conducting interviews and focus groups with women( mozilla contributors and floss contributors) from this community, to share their personal opinions related to D&I.

## Related documents and links
* <a href="http://www.girlscodingkosova.org/"> Girls Coding Kosova</a>
<a href="https://docs.google.com/document/d/1Y94l4oT2GjqSdj0s3ZuHSmQWwXCC3lcBfsjPBNxurYY/edit?ts=58a1b116/"> Int

[2017-02-22 15:20] kristiprogri opened #29 "FAQ review for conducting First Language Interviews"
## Objective Goal:
Bee and I have been working on creating an FAQ for First languages Interviews

## Related documents and links
* [Links here](/thelink)

## Item list:
- [x] Will send the FAQ which might needs some reviews and feedback (R: @emmairwin @larissashapiro @psubhashish)
- [ ] After the feedback, publish the FAQ to wiki with links.(R: @bee2502)

## Related Issues
[Reference meta issues a

[2017-02-22 15:22] bee2502 commented on #19
We have a preliminary draft for FAQ [here.](https://docs.google.com/a/mozilla.com/document/d/1gs0m01RMXXrqYEaZcuyNNu49WAMS2Zlmhhl0cHdAemE/edit?usp=sharing) This can be added to wiki as a resource, post review.

[2017-02-22 15:22] kristiprogri opened #30 "Add interviews to the tracking sheet"
## Objective Goal:
Need to put the interviews details to the [tracking sheet](https://docs.google.com/a/mozilla.com/spreadsheets/d/1D1eweA2LpDURqZkqQ33bh5lWDzoRnbd77duSOuZ4i5w/edit?usp=sharing).

Individual tasks
-----

## Related Issues
[Reference meta issues and past issues] #

[2017-02-22 15:36] bee2502 commented on #19
@kristiprogri Please assign this issue to yourself too. I am not sure why I can't.

[2017-02-22 20:46] emmairwin opened #31 "Provide D&I Proposal for All Hands to Francisco & Brianna"
## Objective Goal:
Propose D&I strategy to be embedded in selection process of volunteers for SF

[2017-02-23 19:39] #5 closed

[2017-02-23 21:30] emmairwin opened #32 "Schedule 1:1 with attendees & Talk to Larissa about Pre-work"
## Objective Goal:
Schedule 1:1 with attendees  & Talk to Larissa about Pre-work

[2017-02-23 21:31] emmairwin opened #33 "Design Sprint Experts - Best Use of TIme"
Design Sprint Experts - Best Use of TIme

[2017-02-26 20:38] emmairwin commented on #9
working document https://docs.google.com/document/d/1RVAoTLeiu6aBHenUjNRyLnz3FprFkoT9_ErvvJpi8oo/edit#

[2017-02-27 16:04] emmairwin opened #34 "Book Meals"
## Objective Goal:
book meals for Vancouver Sprint (dinner/breakfast)

[2017-02-27 17:42] psubhashish opened #35 "1-2 first language interviews"
## Objective Goal:
1-2 interview by this week.

## Related documents and links
* [Links here](/thelink)

## Item list:
- [x] Interviewees identified (R: @psubhashish )
- [x] Script translated (R: @psubhashish )
- [x] Interviews conducted
- [x] Field notes [translated](https://docs.google.com/document/d/17erekLihOTMu5nWOfIJueNMeF2FM6_zsr3xoKocfpxs/edit) (R: @psubhashish )

Note
----
Planned to cond

[2017-02-27 19:37] emmairwin opened #36 "A first draft of agenda for design sprint is completed for feedback"
## Objective Goal:
A first draft of agenda for design sprint is completed for feedback

[2017-02-28 12:00] bee2502 commented on #20
We have two scripts pending feedback - [women (mainly, non-Mozillians) focused script](https://docs.google.com/a/mozilla.com/document/d/1-0EsLUDcnwBje6ovKI9_qqHpxvxZmRNJOt2vKFHstuE/edit?usp=sharing) and [Womoz-focused script](https://docs.google.com/a/mozilla.com/document/d/1L_onw9EweTr7vXjFuq5rrcT72pNWV118mp-j4NjXyhc/edit?usp=sharing)

[2017-02-28 12:08] bee2502 commented on #23
Hi @mjskang, I cannot access the link in this issue for framework draft.

[2017-02-28 12:11] mjskang commented on #23
Yep - sorry I am revising it today.  Will share the correct link ASAP!

[2017-02-28 12:47] bee2502 commented on #20
@emmairwin would love to have your feedback here.

[2017-02-28 14:19] bee2502 commented on #15
Data goals for Community Analytics Dashboard and a list of sample user stories for it is [here.](https://docs.google.com/a/mozilla.com/document/d/1AzMJO7BZOBm75hUYce-c0sECkejrNO-Sn8JRzJdSHLI/edit?usp=sharing) Pending feedback from @mjskang @emmairwin @larissashapiro

[2017-02-28 14:58] kristiprogri opened #37 "English Interviews 1:1 (D&I)"
## Objective Goal:
Beside first languages interviews I am planning to hold 1:1 english interviews, with people from different communites.

## Related documents and links
* <a href="https://docs.google.com/document/d/1Y94l4oT2GjqSdj0s3ZuHSmQWwXCC3lcBfsjPBNxurYY/edit?ts=58a1b116"> Conducting interviews</a>

## Item list:
- [ ] At least 7 non first languages interviews(R:)

## Related Issues
[Referen

[2017-02-28 19:16] emmairwin commented on #35
Hi @psubhashish please ensure you add milelstones and tags when you crete these, so we know if they are work you intend to do this week, and the priority.  Can you also please elaborate on your target group for this interview?   Can I suggest people working in the open, who might know about accessibility?

[2017-02-28 20:34] emmairwin opened #38 "The CPG Activate Campaign has been widely socialized with new participation visible through discourse & F2F call sign-ups"
## Objective Goal:
A wide audience of Mozillians are aware of the opportunity to, and have begun to participate in giving feedback on the CPG  on Discourse, and by signing up to the final steps of the activate activity - which is a Face 2 Face call.

* Directly in Discourse
* As part of the Activate Campaign
* Reading correspondence (emails, blog post)

## Related documents and links
https://activ

[2017-03-03 01:46] elidron opened #39 "Tracking & Documentation"
## Objective Goal:
Finish my tracking Documents & documentation

## Related documents and links
* [https://docs.google.com/document/d/1RFIJ3DcM8Ps6VNpOWhoaFeRBYPDrNYCmFbJQYZjLet8/edit](/thelink)

## Item list:
- [x] Finish tracking Document (R:)
- [x] Finish documentation translation (R:)

## Related Issues
[Reference meta issues and past issues] #26

[2017-03-03 15:35] #4 closed

[2017-03-06 14:50] mjskang opened #40 "Analyze and report on remaining data sources"
## Objective Goal:
Extract critical insight from remaining data sources.

## Related documents and links
*All data progress is tracked here:  https://docs.google.com/spreadsheets/d/1G-GwPZQcAR7muVXMCiCEI-8a5ULErx70wAhDo_P860g/edit?ts=58a6fcd4#gid=0

## Item list:
- [ ] All Global Events Combined  - Mike
- [ ] MozFest - Mike
- [ ] Leadership Summit  - Mike
- [ ] European Gathering Registration - Be

[2017-03-06 14:55] mjskang opened #41 "Create data report in advance of design sprint"
## Objective Goal:
Extract the most interesting/ revealing stories for a final slide deck/ report.

## Related documents and links

## Item list:
- [ ] Create user stories
- [ ] Combine and compare data analyses from different sources

## Related Issues
[Reference meta issues and past issues] #

[2017-03-06 14:57] mjskang opened #42 "Get data from Rust, Firefox, Reps, and Mozillians"
## Objective Goal:
Get data from Rust, Firefox, Reps, and Mozillians

[2017-03-06 15:24] bee2502 commented on #21
The women oriented focus groups has been blocked due to time conflicts. A slot has been suggested for this week.

[2017-03-06 15:27] bee2502 commented on #17
A rough strategy is [here.](https://docs.google.com/a/mozilla.com/document/d/1Oo-EJRHuN5a544in8OEUofyG5bYTmu0WpdkV1paa54o/edit?usp=sharing) Need more inputs on usage of this strategy and if and how to integrate it with framework by @mjskang

[2017-03-06 15:35] #9 closed

[2017-03-06 15:35] #8 closed

[2017-03-06 15:35] #6 closed

[2017-03-06 15:35] #12 closed

[2017-03-06 15:35] #7 closed

[2017-03-06 15:35] #2 closed

[2017-03-06 15:38] emmairwin commented on #15
@emmairwin please review and update

[2017-03-06 15:42] psubhashish commented on #35
@emmairwin this was an individual interview. I will certainly update the tags.

[2017-03-07 04:36] #39 closed

[2017-03-07 04:37] #38 closed

[2017-03-07 04:38] emmairwin commented on #35
Can you tell me what you need reviewed?  Thank you

[2017-03-07 14:23] #27 closed

[2017-03-07 14:23] #28 closed

[2017-03-07 14:43] bee2502 commented on #19
The wiki page is [here.](https://wiki.mozilla.org/Diversity_and_Inclusion_Strategy:First_Language_Interviews_FAQ)

[2017-03-10 05:25] psubhashish commented on #35
@emmairwin I submitted the outcome of the interview so marked as "Review needed".

[2017-03-10 05:29] psubhashish opened #43 "Contribute in providing inputs to the Design Sprint themes doc"
## Objective Goal:
Contribute in providing inputs to the Design Sprint themes doc.

## Related documents and links
* [Links here](/thelink)

## Item list:
- [x] Identify from the themes identified from the quotes and provide input, ask questions by end of this week (R: @psubhashish )

## Related Issues
[Reference meta issues and past issues] #

[2017-03-10 07:13] psubhashish opened #44 "Add all interviews to the tracking document"
## Objective Goal:
Add all the 3 interview details to the [tracking document](https://docs.google.com/a/mozilla.com/spreadsheets/d/1D1eweA2LpDURqZkqQ33bh5lWDzoRnbd77duSOuZ4i5w/edit?usp=sharing).

Individual tasks
-----
- [x]  Telugu-language interviews ( @psubhashish )
- [x] Odia-language interview ( @psubhashish )

## Related Issues
[Reference meta issues and past issues] #

[2017-03-10 07:13] #44 closed

[2017-03-10 13:26] psubhashish commented on #44
@emmairwin All the communications done for the outreach are updated [here](https://docs.google.com/spreadsheets/u/1/d/1I9t899dWD6FatzEOo5fJrFm0UOUCqeNDHpYvic7aE5Q/edit#gid=0).

[2017-03-13 14:42] LucyeoH opened #45 "Identify Any Remaining Logistics Needs"
## Objective Goal:
Identify and coordinate any remaining logistics.

## Related documents and links
* [Links here](/thelink)

## Item list:
- [ ] Talk to Konstantina and Eva and Francisco (R:)
- [ ] Document and follow-up (R:)

## Related Issues
[Reference meta issues and past issues] #

[2017-03-13 14:48] LucyeoH opened #46 "Finalize Agenda and Roles"
## Objective Goal:
Finalize the agenda and roles for all coordinators (Larissa + Lucy )

## Related documents and links
* [Links here](/thelink)

## Item list:
- [ ] Individual item that should happen (R:)
- [ ] Individual item that should happen (R:)
- [ ] Individual item that should happen (R:)
- [ ] Individual item that should happen (R:)

## Related Issues
[Reference meta issues and past issue

[2017-03-14 10:55] psubhashish opened #47 "Participate in all pre-D&I sprint planning and contribute during the sprint"
## Objective Goal:
D&I sprint is happening during Mar. 17-18. Participate in all pre-sprint planning and contribute during the sprint in different aspects.

## Agenda and roles
#46

## Item list:
- [x] Participate in different planning meetings throughout the week (R: @psubhashish )
- [x] Contribute particularly to "Asks & Tasks" section in the planning doc (R: @psubhashish )
- [x] Participate in

[2017-03-21 17:26] bee2502 commented on #40
Analysis has been shared and used in Design Sprint at Canada.

[2017-03-21 17:27] bee2502 commented on #16
Followed by #40

[2017-03-21 17:27] #16 closed

[2017-03-21 17:28] #21 closed

[2017-03-27 23:30] psubhashish opened #48 "Upload all the pictures/audio interviews captured/recorded during the D&I sprint"
## Objective Goal:
Upload all the pictures/audio interviews captured/recorded during the D&I sprint (Mar. 17-18)

## Related documents and links
* [Interviews](https://drive.google.com/drive/u/1/folders/0B7mlsiMB0h-9SDFBMXFSV1VUMWM)
* [Pictures](https://drive.google.com/drive/u/1/folders/0B7mlsiMB0h-9Y2syVlBIVk41U0E)

## Item list:
- [x] Upload all the pictures captured during the event (R: @psubh

[2017-03-27 23:30] #48 closed

[2017-03-29 03:16] psubhashish commented on #47
* Helped in the planning process both during the pre-event calls and asynchronously
* Participated for the pre-event planning on March 16
* Helped in co-facilitation of a few tracks during the event
* Interviewed one participant

[2017-03-29 03:16] #47 closed

[2017-03-29 03:17] #43 closed

[2017-04-04 13:52] psubhashish opened #49 "Blog on experience of the D&I sprint 2016, Vancouver"
## Objective Goal:
Detailed description on what should happen to conside this a success.

## Related documents and links
* [Outline/draft](https://docs.google.com/a/mozilla.com/document/d/1Pzr0H_ynZ4l-P1IIrW9_k7touhNe7dCC3o4ij-Lx7zY/edit?usp=sharing)

## Where we end up - April 14th
- [ ] Create blog

## Where we end up - April 17th
- [ ] Blog posted/shared with Larissa

## Related Issues
[Referen

[2017-11-28 19:26] #15 closed

[2017-11-28 19:26] #17 closed

[2017-11-28 19:26] #18 closed

[2017-11-28 19:26] #19 closed

[2017-11-28 19:26] #20 closed

[2017-11-28 19:26] #22 closed

[2017-11-28 19:26] #23 closed

[2017-11-28 19:26] #24 closed

[2017-11-28 19:26] #25 closed

[2017-11-28 19:26] #26 closed

[2017-11-28 19:26] #29 closed

[2017-11-28 19:26] #30 closed

[2017-11-28 19:26] #31 closed

[2017-11-28 19:26] #32 closed

[2017-11-28 19:26] #33 closed

[2017-11-28 19:26] #34 closed

[2017-11-28 19:26] #35 closed

[2017-11-28 19:26] #36 closed

[2017-11-28 19:26] #37 closed

[2017-11-28 19:26] #40 closed

[2017-11-28 19:26] #41 closed

[2017-11-28 19:26] #42 closed

[2017-11-28 19:26] #45 closed

[2017-11-28 19:26] #46 closed

[2017-11-28 19:26] #49 closed

[2017-11-28 19:27] #3 closed

[2017-11-28 19:27] #10 closed

[2017-11-28 19:27] #11 closed

[2017-11-28 19:27] #13 closed

[2017-11-28 19:27] #14 closed

[2017-11-29 23:51] emmairwin opened #51 "The D&I Pilot survey is launched with clear narrative and invitation to diverse groups for participation in selected communities."
## Objective Goal:
Plan is in place for survey participation, for communities: Drupal, Mozilla Reps, Node, Kubernetes, Firefox

## Related documents and links
* [D&I Pilot Goals Doc]( https://docs.google.com/document/d/1XN_c-BMuWBAQM2o3D-_44jSdmN6JgdSJohIb5jUkIzM/edit#)

### Narrative Brainstorm
* Audience targets  (non-flexible: FOSS, flexible: channel, demographic)
* Who has access to the data a

[2017-11-30 00:02] emmairwin opened #52 "We have collected broad feedback on a proposal for a D&I Collaborative in Open Source"
## Objective Goal:
Leveraging the pilot project for D&I data and metrics, we started to prove the value of a collaborative project for Mozilla, and FOSS generally with early feedback from individuals and organizations we would want to engage.

## Related documents and links
* [Goals Document](https://docs.google.com/document/d/1XN_c-BMuWBAQM2o3D-_44jSdmN6JgdSJohIb5jUkIzM/edit#)

## Item list:
- [x

[2018-01-10 20:19] #52 closed

[2018-01-10 20:19] #51 closed

[2018-01-19 21:35] emmairwin opened #53 "L10N baseline 'Community Health' measurement is proposed for pilot communities, agreed-on by stakeholders and completed."
## Objective Goal:
We have a set of standards and frameworks that let us accurately understand the impact of our D&I interventions on the healthy of open source communities.

## Related OKR

#54

## Related documents and links
* [MDM](https://discourse.mozilla.org/t/mission-driven-mozillians-volunteer-leadership-principles-practices/22386/12)
* Also this will roll up into 'Metrics that Matter work

[2018-01-19 22:01] emmairwin opened #54 "We have applied D&I data and metric standards to 3 project and each project reports and increased understanding of how D&I in their communities."
## Objective Goal:
We have a set of standards and frameworks that let us accurately understand the impact of our D&I interventions on the healthy of open source communities.

## Related documents and links
* https://wiki.mozilla.org/Innovation/Projects/Community_Development/Community_Standards

## Item list:
- [ ]  Research and scope projects where d&I data & metrics can be tested and updated this

[2018-01-19 22:04] emmairwin opened #55 "3 projects change their approach to identity design in systems based on proposed standards and best practices"
## Objective Goal:
We have a set of standards and frameworks that let us accurately understand the impact of our D&I interventions on the healthy of open source communities.

## Related documents and links
* [Links here](/thelink)

## Item list:
- [ ] Sync with OI Engineering on identity in Mozillians.org  and other projects like Open Source Clubs
- [ ] update this list with next steps

## Related

[2018-01-19 22:16] emmairwin opened #56 "3 projects change their approach to identity design in systems based on proposed standards and best practices"
## Objective Goal:
We have a set of standards and frameworks that let us accurately understand the impact of our D&I interventions on the healthy of open source communities.

## Related documents and links

## Item list:
- [ ] Bring knowledge and learning from D&I survey this project
- [ ] Surface work in Mission Driven Mozillians work (#53 ) relevant to this project.

## Related Issues

[2018-01-22 17:19] emmairwin opened #57 "Blog sharing initial best practices data & metrics, and what learning inspired them."
## Objective Goal:
We have a set of standards and frameworks that let us accurately understand the impact of our D&I interventions on the healthy of open source communities.

## Related documents and links

## Item list:
- [ ] Blog

## Related Issues

[2018-01-22 17:27] emmairwin opened #58 "CPG Triage Lead is hired, trained and is beginning to lead resolutions"
## Objective Goal:
Through a set of processes, standards, and workflows embedded into their work,  community managers, and project maintainers are successful in building more inclusive communities.

## Related documents and links

## Item list:
- [ ] CPG Triage Lead is onboarded and is beginning to lead resolution process work

[2018-01-22 17:35] emmairwin opened #59 "The CPG process for volunteers is ready to be publically displayed on the site."
An initial CPG incident response workflow process is documented, shared with 10 community managers, and 3 MDM communities

[2018-01-22 17:48] emmairwin opened #60 "Research informs goals for a community manager moderation workshop"
## Objective Goal:
Through a set of processes, standards, and workflows embedded into their work,  community managers, and project maintainers are successful in building more inclusive communities.

## Item list:
- [ ] Interview CM's to better understand needs filled by a 'online moderation' training session.
- [ ] Align with Emerging Tech on any shared goals
- [ ] Research external experts for wo

[2018-01-22 17:51] emmairwin opened #61 "Figure out how to build D&I into service design"
## Objective Goal:
Through a set of processes, standards, and workflows embedded into their work,  community managers, and project maintainers are successful in building more inclusive communities.

## Item list:
- [ ] Research & Understand existing process (meet with Rina, Meghan)
- [ ] Research and understand how D&I in service design might bring value to OSC
- [ ] Create proposal for embedding

[2018-01-22 17:52] emmairwin opened #62 "CPG complaint requirements are built into the Mozillians roadmap"
## Objective Goal:
Through a set of processes, standards, and workflows embedded into their work,  community managers, and project maintainers are successful in building more inclusive communities.

## Item list:
- [ ] Research user stories
- [ ] Sync with Systems/Engineering on feasibility & approx timelines

[2018-01-22 17:55] emmairwin opened #63 "Goals and Alignment with Ali /Emerging Technologies D&I work is established"
## Objective Goal:
Through a set of processes, standards, and workflows embedded into their work,  community managers, and project maintainers are successful in building more inclusive communities.

## Related documents and links
* [Links here](/thelink)

## Item list:
- [ ] Update async documentation between our work
- [ ] Follow-up call & planning
- [ ] TBD

[2018-01-22 18:01] emmairwin opened #64 "Goals and alignment with Open Source Team on value and opportunities to embed D&I standards/best practices in their OI Open Source Projects is established."
## Objective Goal:
Through a set of processes, standards, and workflows embedded into their work,  community managers, and project maintainers are successful in building more inclusive communities.

## Item list:
- [ ] Document an initial set of standards/best practices as conversational starters for how this initiative might work and solicit early feedback from key stakeholders.

[2018-01-22 18:59] emmairwin opened #65 "Integrate Identity Groups into India Pilot"
## Objective Goal:
Through a set of processes, standards, and workflows embedded into their work,  community managers, and project maintainers are successful in building more inclusive communities.

Dependency:  https://github.com/mozilla-l10n/pm-projects/issues/119

Related Mission Driven Mozillians Issue:  https://github.com/mozilla-l10n/pm-projects/issues

## Item list:
- [ ] Research, and prop

[2018-01-22 19:02] emmairwin opened #66 "Launch a D&I open source call to bring together external collaborators."
## Objective Goal:
Mozilla is recognized as a leader in D&I externally and that's bringing value back to mozilla

## Item list:
- [ ] Create call strategy and circulate for feedback
- [ ] Create blog post, and wiki page for call with goals
- [ ] Plan, schedule and run first call with invited list from research and beyond

[2018-01-22 19:12] emmairwin opened #67 "4 conference talks, and 2 blog posts sharing our work distributed among 15 open source projects.."
## Objective Goal:
Mozilla is recognized as a leader in D&I externally and that's bringing value back to mozilla

## Item list:
- [ ] 4 talks are proposed
- [ ] 2 blog posts sharing our work is written and distributed among 15 open source projects, and widely in social media.

[2018-01-22 21:04] emmairwin opened #68 "Gain quality feedback from community managers on a number of initiative goals"
Build in all goals that require feedback from community managers into a single outreach plan.

[2018-01-22 21:10] emmairwin opened #69 "Research & consultation with OI Engineering on initiative goals that involve systems"
Coordinate research & planning with dependencies on OI Engineering alignment, feedback and resources.

## Related Issues
*  #62
* #60
* #59
* #55

[2018-01-22 21:36] emmairwin opened #70 "Excellent documentation, writing & presenting"
## Related issues

* #54 Document all existing standards & best practices for data, metrics, and research according to work completed in 2017 and early 2018.
* #57 Blog sharing initial best practices data & metrics, and what learning inspired them.
* #67 Create opportunities for external collaboration and network capabilties

[2018-01-22 21:41] emmairwin opened #71 "Embedding D&I Initiatives & experiments in projects accross the org"

[2018-01-23 00:42] emmairwin commented on #66
planning document:  https://docs.google.com/document/d/1Wtul4E9rd6U6JPBDDfV-OCJ51wG9v6fq9ab5qQeIPUw/edit#

[2018-01-23 21:58] #57 closed

[2018-01-23 23:28] emmairwin opened #72 "Scope 'Brand Value' with externally-facing teams"
## Objective Goal:
Mozilla is recognized as a leader in D&I externally and that's bringing value back to mozilla

- [ ] Reach out to Marketing & Comms teams to present work to date, and scope opportunities for added value in future and collaborative comms in future.

[2018-01-23 23:46] #70 closed

[2018-01-24 00:04] #55 closed

[2018-01-26 22:41] emmairwin opened #73 "D&I Data, Metrics & Research"
We have a set of standards and frameworks that let us accurately understand the impact of our D&I interventions on the health of open source communities.

[2018-01-26 23:24] emmairwin opened #74 "D&I Standards & Best Practices"
Through a set of processes, standards, and workflows embedded into their work,  community managers, and project maintainers are successful in building more inclusive communities.

[2018-01-26 23:34] emmairwin opened #75 "Mozilla Value to D&I in Open Source"
Foundational work to setup Mozilla as leader for D&I in Open Source is underway with high value being reported in early interactions

[2018-01-26 23:56] #54 closed

[2018-01-26 23:56] #56 closed

[2018-01-27 00:02] #59 closed

[2018-01-27 00:04] #61 closed

[2018-01-27 00:07] #64 closed

[2018-01-27 00:12] #71 closed

[2018-01-27 00:19] emmairwin opened #76 "We have scoped 8 projects for Q2 for embedding D&I into service design, open by design, and systems at Mozilla"

[2018-01-29 20:22] emmairwin opened #77 "Regional Community Health Metrics"
In parallel with L10N Community Metrics Goals, run a baseline of 1 regional community.

[2018-01-30 19:57] emmairwin commented on #53
https://docs.google.com/document/d/1lIqCN2qlDTaXb1pl_lqbOBTvqx11yBbQ4PQ9FwIWZ7s/edit#

[2018-02-05 13:09] emmairwin commented on #73
First series of pilots to set a baseline for community health include one skills-based (L10N), two regional, and one project).

A baseline of research questions need published to this repo

[2018-03-06 22:20] emmairwin opened #83 "Learn about FOSS Heartbeat"
## Objective Goal:
We have a set of standards and frameworks that let us accurately understand the impact of our D&I interventions on the health of open source communities.

To help this goal, we will be working more with FOSS Heartbeat, which evaluates sentiment in Github issues, comments and pull requests!

**NOTE**: multiple people can work on this task.

## Item list:
- [ ] Following the steps

[2018-03-06 22:28] emmairwin opened #84 "Contribute to Open Demographics"
## Objective Goal:
We have a set of standards and frameworks that let us accurately understand the impact of our D&I interventions on the health of open source communities.

To help with this goal, we're investing in standards and best practices for D&I

## Item list:
- [ ] Review the [Open Demographics](https://drnikki.github.io/sphinx-ghpages/get_involved.html#fork-change-pr) Project.  Review @m

[2018-03-06 22:48] emmairwin opened #85 "Visualization from Github Data"
## Objective Goal:
We have a set of standards and frameworks that let us accurately understand the impact of our D&I interventions on the health of open source communities.

To help us towards this goal, we're trying to understand how we can improve the way we ask for and visualize data.

### Task

- [ ]  Review [this report from Github ](http://github-images.s3.amazonaws.com/open-source-survey/da

[2018-03-06 22:52] emmairwin commented on #83
Note that this project does have known bugs with some repositories, one that we've tested recently that works is:   https://github.com/mozilla-l10n/documentation

[2018-03-07 16:13] jywarren commented on #85
Hi! At Public Lab, we're fans of this project, and have been working on ways to "snapshot" community activity on an ongoing basis -- with a focus on supporting equity at different levels of contribution. Our project is minimal at the moment but we're working on better ways to make it actionable -- such as, identify newcomers to a project and "mention" them (@jywarren -style) to support their takin

[2018-03-07 17:06] emmairwin opened #86 "Tell an Open Data Story"
## Objective Goal:
We have a set of standards and frameworks that let us accurately understand the impact of our D&I interventions on the health of open source communities.

**Note**: This intended to help people understand the work we're doing, and is not itself a single task.

## Item list:
- [ ] Find an [open data](https://visual.ly/blog/data-sources/) set that includes any demographic data lik

[2018-03-07 17:17] guptatrisha97 commented on #84
Hey, I would like to work on this for Outreachy. Can you please assign it to me? Thanks

[2018-03-07 17:19] emmairwin commented on #83
Hi @marimeireles please do!   If you get stuck please ping me.

[2018-03-07 17:24] guptatrisha97 commented on #86
Hey, I would like to work on this for Outreachy. Can you please assign it to me? Thanks

[2018-03-07 18:30] emmairwin commented on #84
Hi  @guptatrisha97 there are two tasks here, the first is to create a pull request for the suggestions for dis/ability, and the other is to create a pull request with your own recommendations.  Which feels like the one you are interested in?

[2018-03-07 18:31] emmairwin commented on #85
@jywarren thanks for sharing this! Would you be interested in sharing this work, especially around supporting equity on our next D&I in Open Source Community Call?

[2018-03-07 18:32] emmairwin commented on #86
@guptatrisha97   Hi again, I also noticed you were interested in the Open Demographic tasks, if you can let me know which one you want to work with, I will assign :)

[2018-03-07 18:43] guptatrisha97 commented on #84
Can I create a pull request for disability with my own recommendations for addition of questions?

Basically in this I need to add the questions to be asked to the user, right?

[2018-03-07 20:13] akshitac8 commented on #85
Hello,
Is this bug available for solving. I would love to work on this.

[2018-03-07 20:17] akshitac8 commented on #86
Hello,
Is this bug open for solving. I would like to contribute on this.

Thank you.

[2018-03-07 20:29] emmairwin commented on #86
Hi @akshitac8 this is an issue specifically for Outreachy applicants - if you are, please go ahead :)
It's really just intended to give people an idea of the type of work we're doing - so don't worry about getting it right, so much as having fun. If you get stuck, or have questions please let me know.

[2018-03-07 20:31] emmairwin commented on #84
@guptatrisha97 ,    I suggest, if you want to also add your own questions:

1) Create one pull request just for the recommendations from @musingvirtual
2) Create another pull request for recommendations you have.

But don't put both together in one Pull request, as  it becomes difficult for the maintainer to accept/deny multiple.  Doe this make sense?

[2018-03-07 20:38] akshitac8 commented on #86
@emmairwin yes, I am participating in outreachy for this round. It would be great to work on this issue and thank you for assigning the same.

[2018-03-08 04:50] Nada1996 commented on #83
Hi @emmairwin ,  can I work on this too?

[2018-03-08 05:12] guptatrisha97 commented on #84
Yes, it does! Thanks, I'll do that right away.

[2018-03-08 05:17] emmairwin commented on #83
Hi @Nada1996 yes!    Just make sure you test with the Github repository I listed first ( as a way to ensure your environment works), and then any Github repository you are interested in afterwards.  Please let me know if you have get stuck!

[2018-03-08 05:28] guptatrisha97 commented on #84
I have created two pull requests as you suggested. Please review it and let me know if any further changes are required. Thanks!

[2018-03-08 18:15] guptatrisha97 commented on #86
@emmairwin since I've already submitted the Open Demographic tasks' pull requests for review, I would love to contribute to this issue as well, if it is still open. Thanks!

[2018-03-08 18:56] akshitac8 commented on #86
Hey, @emmairwin I have gone through the link given by you and by what I understand, I have to make something like this [story](https://insights.cincinnati-oh.gov/stories/s/Safer-Streets-Insights/mebb-mkhj).
Also, I found this [website](https://data.world/). I wanted to know whether I am proceeding in the right direction.

[2018-03-09 01:04] emmairwin commented on #86
Hi @akshitac8 I would first of all say, don't worry about doing too much or making it look perfect like that website.  This is just a learning contribution.
Second I would  look to see if you can extract one insight from data.  For example, in the first link there was 'police calls for service' data.   Any insight you can visualize about those calls like, where the most calls came from (geographic

[2018-03-09 01:05] emmairwin commented on #85
@jywarren awesome!   I will reach out tomorrow or Monday.

[2018-03-09 01:06] emmairwin commented on #84
@guptatrisha97 looks great! I'll leave it to that maintainer to review, but thank you!  No futher actions needed, thanks for your contribution!

[2018-03-09 04:21] reCursedd commented on #86
Hello @emmairwin , I would love to work on this project. This looks very exciting.

[2018-03-09 08:11] akshitac8 commented on #86
@emmairwin That helps for sure! I would get back if I have any other doubts.

[2018-03-09 13:02] akshitac8 commented on #86
@emmairwin I have coded this `plot`. Is it correct? Am I supposed to do something more? Also, where should I upload the code for this plot.
![image](https://user-images.githubusercontent.com/21353757/37208605-ecbe4120-23c7-11e8-92e9-898f38079480.png)

[2018-03-09 16:01] ruchaapte commented on #83
Hi Emma, I would like to work on this for outreachy. Can I contribute towards it?

[2018-03-09 18:15] emmairwin commented on #86
@akshitac8 that looks great!    If you were to give a title, or description to this data, what would it be?  would it be about the number of calls in an area?    Why is East Price Hill so much different ?

[2018-03-09 18:19] ruchaapte commented on #83
I had a question. After setting up the environment, I'm trying to scrape data from the given repository using the command
python ghscraper.py GITHUB_REPO_NAME GITHUB_OWNER_NAME FILE_WITH_CREDENTIALS
I'm not sure what the GITHUB_OWNER_NAME would be here. Could you please help me on this?
Also, I have specified my github username and password in separate lines in a file for the credentials. Is that

[2018-03-09 18:29] guptatrisha97 commented on #85
Hey! Can I please work on this bug?

[2018-03-09 18:43] joanasouza commented on #83
Hey @ruchaapte I think that I can help you with that.
To run the command you're going to use the exact path of the repo you're testing.
The GITHUB_OWNER_NAME refers to the github account that originally owns the repo.
In one of my tests I ran this command with Mozilla lightbeam repo, then my command looked like this:
python ghscrapper.py lightbeam-we mozilla <my_generated_token>.
About the file qu

[2018-03-09 20:09] akshitac8 commented on #86
@emmairwin I think a proper title would be **Area-wise Number of calls**.
![area-wise number of calls](https://user-images.githubusercontent.com/21353757/37227360-0d754202-2403-11e8-9b1a-13d01df0bdc0.png)
Also, it seems that the reason for so high number of calls in **East Price Hill** is due to type `CELL` which is pretty high when compared to other types of reasons for calls.
![resons for calls

[2018-03-09 22:03] ruchaapte commented on #83
Thanks @joanasouza for the help. When I run the command for any github repo, I get an error .
  File "ghscraper.py", line 108, in scrapeIssues
    issues = repo.issues(sort='created', direction='asc', state='all',
AttributeError: 'Repository' object has no attribute 'issues'
Did anyone face this?

[2018-03-09 22:06] emmairwin commented on #86
awesome!   Finally, what tools did you use for this (so other people can learn from you)

[2018-03-09 22:07] emmairwin commented on #86
@reCursedd multiple people can work on these tasks, they are meant to show the type of work and tools we're using in this area of the project .    Please feel free to jump in, and let me know if you have any questions thanks!

[2018-03-09 22:09] emmairwin commented on #85
@guptatrisha97 yes!  Absolutely, it is meant as a learning and sharing bug so please do jump in, and let me know if you have any questions.

[2018-03-09 22:14] emmairwin commented on #85
@jywarren I added your topic on line 70 of the etherpad, assuming April 4th will work as a date !  If you want to add a description that would be great.  https://public.etherpad-mozilla.org/p/open-source-community-call

[2018-03-09 22:43] jywarren commented on #85
awesome! I don't see a time of day -- sorry if i'm being dense! I
definitely hope I can make it, do you have a standard time of day? Thank
you!

On Fri, Mar 9, 2018 at 5:14 PM, Emma <notifications@github.com> wrote:

[2018-03-09 22:44] emmairwin commented on #85
sorry 9 AM PDT

On Fri, Mar 9, 2018 at 2:43 PM, Jeffrey Warren <notifications@github.com>
wrote:

--
-- Emma Irwin

[2018-03-09 22:51] jywarren commented on #85
OK! I'll do my best and if not this one, the next. Will update when I can
confirm-- thank you!!!

On Fri, Mar 9, 2018 at 5:44 PM, Emma <notifications@github.com> wrote:

[2018-03-10 02:21] marimeireles commented on #83
Hi @emmairwin I've just completed the tests using the mozilla-l10n/documentation and the mozilla/DeepSpeech repositories and pushed to a branch [here](https://github.com/marimeireles/foss-heartbeat/tree/deepspeech-l10n).
It wasn't clear to me if I was supposed to open a pull request in the [foss heartbeat](https://github.com/sagesharp/foss-heartbeat) repo and merge that, should I do that?

I've al

[2018-03-10 05:23] reCursedd commented on #86
Thanks a lot ... Started looking at the datasets. I'll try to come up with
something..

On Sat, Mar 10, 2018, 3:37 AM Emma <notifications@github.com> wrote:

[2018-03-10 07:24] akshitac8 commented on #86
@emmairwin I used `pandas` and `matplotlib` in `python`. If this looks fine, can you guide me through how should I record my contributions!

[2018-03-10 12:42] guptatrisha97 commented on #85
@emmairwin I read through the github data and noted the point that translation cost was incurred. I plotted this visual representation to check if we really need to invest in translation and came up with this simple bar graph using R. Because if we don't, the same money can be used in improving other facets of our asking of data, such as a form which is has improved UI features so as to make it lo

[2018-03-10 21:17] marimeireles commented on #85
I'm interested in taking this bug too, @emmairwin.
Hope it's not a problem.

[2018-03-11 10:25] guptatrisha97 commented on #86
@emmairwin, my open data story talks about the unequal gender pay. I took an open data set from government data (https://data.seattle.gov/api/views/tptv-57gf/rows.csv?accessType=DOWNLOAD) about Seattle, which is supposed to be one of the most up-tech cities in the US. I used the open data set to create this pie chart on JSfiddle which is pure testimony to the gender inequality in pay, even today a

[2018-03-11 22:00] emmairwin commented on #86
@guptatrisha97  this is great!  Thank you!  this type of data story can help us understand how our attempts to improve things work or not. It's what we're trying to get better at in our d&I work.  By understanding where we are, we can improve.  Thank you!

[2018-03-11 22:03] emmairwin commented on #85
@guptatrisha97  this is great, what is the translation requirement? Is that - that the software required translation, or that translation work was done?
I also wonder if the low translation # makes that project or software less accessible?  What do you think?

[2018-03-11 22:05] emmairwin commented on #85
@marimeireles  yes absolutely!

[2018-03-11 22:09] emmairwin commented on #83
@ruchaapte sorry for delay!  and thanks for jumping in @marimeireles

I used a token as well, it's really easy to do  :  https://help.github.com/articles/creating-a-personal-access-token-for-the-command-line/
This is the command I used:  python ghcategorize.py documentation mozilla-l10n   <tokenid>

I hope this helps!

[2018-03-11 22:12] emmairwin commented on #83
Hi  @ marimeireles   I noticed the files in Deep Speech (which I was super intersted in thank you! ) were for L10N
https://github.com/marimeireles/foss-heartbeat/tree/deepspeech-l10n/docs/mozilla/DeepSpeech

Yes please do submit a PR, and also CSS fixes very welcome!
There are some Mozilla developers working on existing bugs in this project and your knowledge and observations are super helpful!  t

[2018-03-11 22:15] brihijoshi commented on #84
Hi @emmairwin!
I really liked the first issue and after some study about the laws/acts in India about the same, I have added a suggestion for a question on the same issue.
I would also like to dive into the Race/Ethnicity question. Are we allowed to attempt both the tasks?

[2018-03-11 22:15] emmairwin commented on #83
@Nada1996 the main purpose of this task is to learn the project, and how the machine learning works for sentiment especially.
You do not need to create a PR if you ran this only for the l10N documentation repo, but if you run this on other repos you're interested in, then I am sure the maintainer would be interested.

I would be interested in seeing any of active Mozilla repos from this list:

htt

[2018-03-11 22:28] Nada1996 commented on #83
@emma Ok thanks a lot, I did try it on another repo and I will run it on other repos from the list.
 One last thing though, after running the sentiment analysis model on the comments I wanted to plot the graphs for it but according to [#46 ](https://github.com/sagesharp/foss-heartbeat/issues/46) , it's not documented, so do you know which command to run and maybe I can add that to the Fossheart do

[2018-03-11 23:18] marimeireles commented on #83
Hi @emmairwin
I don't think there are any relation between the data I've published and the l10n team. You were probably just confused by my bad branch name, sorry, I'll change that.
But since you're interested in how the Deep Speech is related to the l10n project, I'll add some data about the [common voice project](https://github.com/mozilla/voice-web) too, I've been contributing to the Brazilian

[2018-03-11 23:21] akshitac8 commented on #86
@emmairwin  Do, I need to make any further changes in the issue and can you tell where should I generate a PR so that I can record my contribution for the outreachy program.

Thank you:)

[2018-03-12 00:05] Nada1996 commented on #83
@emmairwin I pushed the results to my fork of foss-heartbeat [here](https://github.com/Nada1996/foss-heartbeat) , I tested 3 repos : Mozilla-l10n/documentation, mozilla/node-firefox and rails-girls-summer-of-code/rgsoc-teams
I will submit a PR to Foss-heart. Thanks

[2018-03-12 03:39] guptatrisha97 commented on #84
@emmairwin, I want to know if my pull requests (2) for the Open Demographics got merged or not so far? There's being some discussion on them, I know and I'm making sure to participate in it. But in order to record my contribution for Outreachy, the pull requests need to get merged (to be called as successful contribution). Please let me know how to go about this so as to get them approved? Thanks!

[2018-03-12 03:41] guptatrisha97 commented on #86
@emmairwin please let me know how to record my contribution as a pull request. Thanks!

[2018-03-12 04:24] guptatrisha97 commented on #85
@emmairwin according to the 'notes.txt' of the data for public release file, The survey was presented in English by default. The introductory text included directions to finding selecting an alternative language (Traditional Chinese, Japanese, Spanish, and Russian). Translations were obtained through a paid vendor, with validation and corrections from the open source community via the public proje

[2018-03-12 15:48] edyasikpo commented on #86
@emmairwin i would love to work on this for the Outreach program but i really dont know how to go about it?

[2018-03-12 18:45] michellexxli commented on #85
@guptatrisha97 I like that your data tells us about how many people are using the translation services, but is there a way to make the data about who's actually using them more transparent? I'm wondering if it's possible that there's a small but important demographic of people whose data we would be cutting out if we didn't include translation services. I haven't looked at the data yet, though, so

[2018-03-12 19:20] reCursedd commented on #86
@emmairwin , this is what I made, can you please tell me how it looks or suggest some improvements? Is it ok to make it in google doc?
https://docs.google.com/document/d/1GzElk76g2ouvxoCOe5asieMSBhidxlkt_UpGiStZ9TI/edit?usp=sharing
Also, please let me know how to record my contributions as well. Should I fork this project?
Thanks

[2018-03-12 19:22] reCursedd commented on #86
@edyasikpo , the very first step I followed, was to find an open data set of your choice.

[2018-03-12 21:19] emmairwin commented on #86
@akshitac8 do you need to have a pull request?  or can I just validate this as a contribution via this comment? If you would like to do a pull request then please submit to the code base in a new folder called 'Open Data Story'.  Thank you so much

[2018-03-12 21:26] emmairwin commented on #86
@edyasikpo we do a lot of analysis of data where diversity demographics like gender, race, age, location, education are present.

Often this means looking at existing data and seeing what we can understand.   This task asks you to to find any open data set, and to create a visual from that data that tells a story about.  It doesn't have to be on any topic, I just want to see that you can a) work w

[2018-03-12 21:32] emmairwin commented on #86
@reCursedd awesome!  If you can please submit a Pull Request to https://github.com/mozilla/diversity/tree/master/outreachy/open-data-story

[2018-03-12 22:31] akshitac8 commented on #86
@emmairwin I have generated the PR for the respective issue.
Please review the PR :) and also I think we add a travis file also .

Thank you:)

[2018-03-12 22:44] emmairwin commented on #84
@brihijoshi I saw that!   and thought it was a great suggestion.  I will look into your question about pull requests.   Contributions are not just about pull requests - so I'll see if I can find a way for that not to be a dependency.

[2018-03-12 22:48] emmairwin commented on #83
@marimeireles fantastic!
@Nada1996 I am just going through those now - looks good!

[2018-03-13 01:53] BANSAL-PALLAVI commented on #86
Hi @emmairwin I am willing to participate in outreachy. I have used adult income data set from the UCI ML repository.
Description of the data set: Shows gender, income, education, race, occupation etc.
I have generated a plot for finding the number of people who have income above or below 50k on the basis of gender.
![rplot02](https://user-images.githubusercontent.com/17240554/37318226-626fc118-26

[2018-03-13 02:14] emmairwin commented on #83
A note to everyone! that an accepted Pull Request is NOT needed to be considered for successful contribution here.   That you submitted one is all I need.  Thank yoU!

[2018-03-13 02:54] BANSAL-PALLAVI commented on #86
This plot helps us in understanding that very less number of women earn more than 50k compared to men. From this data we might question about the education received by both men and women. In the below box plot, we see that more number of men receive higher education. And thus more number if men earn > 50k as compared to women.
![rplot03](https://user-images.githubusercontent.com/17240554/37320044-

[2018-03-13 03:00] BANSAL-PALLAVI commented on #86
I am using R to generate insights.

[2018-03-13 06:29] guptatrisha97 commented on #86
@emmairwin I am a bit confused. Should I submit a pull request or add my story to the folder you created?

[2018-03-13 06:32] guptatrisha97 commented on #84
@emmairwin the Outreachy application page says we need to have a "successful contribution" before applying. I don't think it necessarily needs to be a pull request, but in the form we do need to mention what date our contribution was approved/merged/got successful. This is why I was confused as to how to record my contributions to your project.

[2018-03-13 15:01] marimeireles commented on #85
Hey
I've finished my analyses on the Github's report.
I've created a [repository](https://github.com/marimeireles/woman-non-binary-man-in-oss) in my account to explain what kinds of information I was able to extract from the datum and I tried to tell a story about it. I'm looking forward to know what you think!
In the end of the readme file under the "Development" topic there are some informations

[2018-03-13 15:14] marimeireles commented on #86
@emmairwin
I'd like to contribute to this project too, if it's okay.

[2018-03-13 15:18] Rupal-IIITD commented on #86
@emmairwin
I had some personal doubts regarding the projects/issues/tasks, so I have emailed you. I hope it's cool with you. :)

[2018-03-13 15:43] reCursedd commented on #86
@emmairwin Thankyou so much, I will try to do that. Also, I would want to thank @akshitac8 , I think I found a marvelous counterpart of docs in Jupiter notebook to describe the data story along with the code. :)

[2018-03-13 16:23] emmairwin commented on #86
@BANSAL-PALLAVI   Thanks!
@Rupal-IIITD I will get to my email later today
 @reCursedd  thank you!   and great to call out help from @akshitac8
@marimeireles of course! please do.
@guptatrisha97 the pull request would be adding to the folder (same thing).

[2018-03-13 16:46] akshitac8 commented on #86
Thank you :) @emmairwin

[2018-03-13 16:52] BANSAL-PALLAVI commented on #86
@emmairwin can I generate a pull request for the data story that I posted above?

[2018-03-13 16:56] akshitac8 commented on #86
Thank you @reCursedd

[2018-03-13 16:59] akshitac8 commented on #85
Hey, @emmairwin I would love to work on this issue as well. I want to contribute to *Diversity* as much as possible. I wanted to know, for this issue, can I use `python`?

[2018-03-13 18:31] emmairwin commented on #83
@sagesharp we are working on improvements FOSS heartbeat in this next quarter.  So it;s relevant to the work we are doing.

I will instead direct people to a fork for now, sorry for the inconvenience.

[2018-03-13 23:24] emmairwin commented on #84
If you submitted a pull request, I consider that a successful
contribution.  Even PR that are not merged, can add value to a project.
I reviewed your PR, and approve it as a successful contribution, you can
link this comment with your PR for application.  Than you!

On Mon, Mar 12, 2018 at 11:32 PM, guptatrisha97 <notifications@github.com>
wrote:

--
-- Emma Irwin

[2018-03-14 00:28] emmairwin opened #89 "Learn about FOSS Heartbeat"
## Objective Goal:
We have a set of standards and frameworks that let us accurately understand the impact of our D&I interventions on the health of open source communities.

To help this goal, we will be working more with FOSS Heartbeat, which evaluates sentiment in Github issues, comments and pull requests!   Outreachy intern will be working with us on this tools evolution in helping measure comm

[2018-03-14 00:28] emmairwin commented on #83
Closing and replacing with an updated version:  https://github.com/mozilla/diversity/issues/89

[2018-03-14 00:28] #83 closed

[2018-03-14 00:29] emmairwin commented on #84
@rihijoshi you can work on any of the tasks, they are meant to be learning  - if you enjoy and like these tasks, then you will enjoy the work we're hoping to do with our outreachy interne :)

[2018-03-14 03:31] reCursedd commented on #89
@emmairwin , Wow! This is such a great application of NLP! I would love to look at the insights and results. Trying to get the environment set :)

[2018-03-14 08:18] akshitac8 commented on #89
@emmairwin  I agree with @reCursedd this is a great application to start working with.

[2018-03-14 11:24] brihijoshi commented on #84
Thanks @emmairwin! I have tried and put up my inputs for the two tasks above :)

[2018-03-14 12:07] brihijoshi commented on #89
Hi @emmairwin I have sent a PR with results for a new repo (Tessel/t2-docs). I have also added a gist explaining why the results are like that :)

[2018-03-14 14:42] brihijoshi commented on #89
Hey @akshitac8 I don't think you need to clone the Documentation repo. If you see the ghcategorize.py code, you would see that the GitHub API goes to the repo name and the author name and automatically categorizes them. Try these commands -

`cd ~/foss-heartbeat`
`python ghscraper.py <repo name(don't clone it)> <owner> <OAuth Key>`
`python ghcategorize.py <repo name(don't clone it)> <owner>`
`pyth

[2018-03-14 16:10] michellexxli commented on #85
![unwelcoming language by gender](https://user-images.githubusercontent.com/36935063/37413491-912eae9e-277d-11e8-9f1c-7e3d79809579.png)

I decided to try and see if women were experiencing more unwelcoming language on github than men, and generated this plot using ggplot2 in R. This plot demonstrates that while the majority of those who experience unwelcoming language are men, there is a far large

[2018-03-14 16:54] emmairwin commented on #89
@akshitac8 @brihijoshi  is right - you are getting nothing because you are scraping a copy of a repo, and your copy has no comments, issues or PRs.  Don't worry!  I did the same thing in my first go :)

[2018-03-14 16:55] emmairwin commented on #86
@BANSAL-PALLAVI yes please do thank you!

[2018-03-14 16:55] emmairwin commented on #86
Closing this one, to create a new version.

[2018-03-14 16:56] emmairwin commented on #85
@marimeireles thank you for creating that repo - how can I best view the results?

[2018-03-14 16:57] emmairwin commented on #85
@michellexxli  this is excellent work, thank you for this contribution.

[2018-03-14 19:13] emmairwin commented on #84
Closing this one now. If you need to add a comment regarding a contribution let me know, thanks!

[2018-03-14 19:13] #84 closed

[2018-03-14 21:56] marimeireles commented on #85
@emmairwin you can check the readme file:

https://github.com/marimeireles/woman-non-binary-man-in-oss/blob/master/README.md

[2018-03-14 23:37] reCursedd commented on #89
Can anyone tell me why I am facing this?
When I simply did `pip install -r requirements.txt` I got the following exception

`Exception:
Traceback (most recent call last):
  File "/home/dyuti/.local/lib/python3.5/site-packages/pip/basecommand.py", line 215, in main
    status = self.run(options, args)
  File "/home/dyuti/.local/lib/python3.5/site-packages/pip/commands/install.py", line 342, in run

[2018-03-15 02:20] emmairwin commented on #89
It looks to me like a permission error, can you run as sudo?  (not knowing
your setup..)

On Wed, Mar 14, 2018 at 4:37 PM, reCursedd <notifications@github.com> wrote:

--
-- Emma Irwin

[2018-03-15 02:24] emmairwin commented on #85
Mariana, this is just excellent! Thank you - I shared with our team, and
this good work was appreciated.   thank you for your contribution!

On Wed, Mar 14, 2018 at 2:56 PM, Mariana Meireles <notifications@github.com>
wrote:

--
-- Emma Irwin

[2018-03-15 03:53] reCursedd commented on #89
@emmairwin , It worked. :) Thank you so much.. I was thinking something so different it never occurred to me.

[2018-03-15 19:27] emmairwin commented on #89
@ reCursedd so glad to hear!

[2018-03-16 03:32] guptatrisha97 commented on #84
@emmairwin how can I record the contribution to the open data pull requests I submitted? You mean in the application for Outreachy for this project, I simply add my PR link along with the above comment where you approved it as a successful contribution?

[2018-03-16 04:36] guptatrisha97 commented on #85
@emmairwin I have created an R markdown for this contribution of mine. Should I upload it somewhere in order for a successful contribution?
[survey.rmd.zip](https://github.com/mozilla/diversity/files/1817938/survey.rmd.zip)

[2018-03-16 06:50] Nada1996 commented on #89
@emmairwin I created a new PR for the new fork, the PR include the stats of  3 repos from the branch "New branch" , also the master branch in my fork includes the scraped comments and the 2 files "all-comments.txt" and "all-comments.empathy.txt"  for the 3 repos

[2018-03-16 22:44] emmairwin commented on #86
reopening for someone who still wants to reference.

[2018-03-18 00:45] poojasr89 commented on #86
https://github.com/poojasr89/Inventors

[2018-03-18 01:29] poojasr89 commented on #86
East v/s West
Comparision of statistics of women inventors in California v/s Masssachusetts.

Following infographic may serve to any Masters or PhD graduate who is deciding on where to start her research career.
The assumption is that patented inventions indicate an orientation towards research, although the underlying motivation is corporate profits.
![inventors_16](https://user-images.githubuser

[2018-03-19 04:50] akshitac8 commented on #89
@emmairwin I have created a PR for the fork which includes the stats of Mozilla-Normandy repo. I have also included a link to my [blog post](https://channelcs.github.io/using-foss-heartbeat-for-generating-insights-in-normandy.html) in which I have described what insights can be drawn from those visualizations. It would be great if you can have a look at the blog as well.

[2018-03-19 04:53] akshitac8 commented on #89
I want to thank @brihijoshi :slightly_smiling_face:  for helping me out in understanding the working of the repo and giving an amazing idea of making a writeup.

[2018-03-19 06:23] reCursedd commented on #89
@akshitac8  I am still stuck setting the classpath correctly. Did you face any such issues? I did try out the flag given by @emmairwin to point java to my class.

[2018-03-19 06:46] akshitac8 commented on #89
Hey, @reCursedd  I followed the steps given by @brihijoshi  in this [comment](https://github.com/mozilla/diversity/issues/89#issuecomment-373045869). Are you have troubles in installing python? If so, can you tell me which Operating System you are using?

[2018-03-19 07:28] reCursedd commented on #89
No, I think I have messed up the java classpath by trying out different things continuously. I will post the error later during the day as I don't have access to my laptop right now.
I get an error like, `unable to find or load main class`.
I am working on Linux.

[2018-03-19 08:38] akshitac8 commented on #89
Ohkay @reCursedd Lets first look the error before making any further deductions :slightly_smiling_face:

[2018-03-19 08:52] Rupal-IIITD commented on #86
@emmairwin

I am applying to Outreachy this year. I want to contribute to this issue, can I also submit my report?

I found an interesting idea online which involves network analysis done on a network formed using genes of coronary artery disease. (Database: CADGene Disease database). I have some interesting ideas in mind regarding this: asking relevant questions to this network and taking out use

[2018-03-19 19:21] emmairwin commented on #89
@akshitac8 thanks for the PR and the great blog post!!
I am wondering did the sentiment tab show anything for you?

[2018-03-19 19:22] emmairwin commented on #89
@reCursedd which repo are you testing with?

[2018-03-19 19:22] emmairwin commented on #89
@Nada1996 thanks for pR!

[2018-03-19 19:23] emmairwin commented on #86
@poojasr89 this is excellent!  what data source did you use?

[2018-03-19 19:24] emmairwin commented on #86
@Rupal-IIITD this sounds very interesting, and great!  than you!

[2018-03-19 19:25] emmairwin commented on #85
@guptatrisha97   Hi, there is a folder you can add it to here:  https://github.com/mozilla/diversity/tree/master/outreachy/open-data-story

Thank you!

[2018-03-19 19:47] poojasr89 commented on #86
@emmairwin Thank you, Emma.
The data source used
http://www.equality-of-opportunity.org/data/patents/table_2b.csv

[2018-03-19 23:18] reCursedd commented on #89
@emmairwin , @akshitac8
Firstly, sentiment tab didn't show anything for me. I have created a PR which shows my current stats.
I am using [notes](https://github.com/mozilla/notes) repository for my study.
I don't face any problem till the creation of stats.
I was trying to train the Stanford CoreNLP sentiment model and this is what I do.

- `java -cp stanford-corenlp-models-current.jar -Djava.ext.d

[2018-03-20 16:39] Rupal-IIITD commented on #86
Hi, Emma.

1. I am in the process of making my proposal for Outreachy for "Diversity and Inclusion" project of Mozilla. Can you share a template of the application proposal that you prefer as an evaluator while evaluating our profiles?
I found [this ](https://wiki.mozilla.org/SummerOfCode/ApplicationTemplate)template at Mozilla's GSoC ideas page. But since I am applying to Outreachy (and not GSoC)

[2018-03-20 23:08] KarinRoe commented on #86
I had a look at the Salary from state employee from the year 2007 to 2017 in IOWA
The plot shows the total salary instead of mean which I am working on right now.

![rplot](https://user-images.githubusercontent.com/37213457/37687385-55bf90ce-2c93-11e8-9940-1e44c5e6a0ee.png)

[2018-03-21 07:38] KarinRoe commented on #85
I also

[2018-03-21 11:19] akshitac8 commented on #85
Hello, @emmairwin  I have created a PR with the changes. Kindly review the changes.
Thank you :slightly_smiling_face:

[2018-03-21 11:29] akshitac8 commented on #89
Hey @emmairwin my sentiment tab shows *coming soon*. Initially, I did not run the **CoreNLP** part, as it was written as *Optional*. @reCursedd I followed the steps given at foss-heartbeat repo and got the same error. The steps I followed were:
- Download [CoreNLP](http://nlp.stanford.edu/software/corenlp.shtml)
- Extract it to `~/Downloads/stanford-corenlp` folder
- Run `java -cp ~/Downloads/stan

[2018-03-21 23:19] Rupal-IIITD commented on #86
@emmairwin

Outreachy's page says:

Can you give some light on this? How do we formulate our timeline/application as a whole?

[2018-03-22 02:13] ccaddel commented on #86
I looked at the Race and Economic Opportunity in the United States: An Intergenerational Perspective dataset from The Equality of Opportunity Project: http://www.equality-of-opportunity.org/data/

Here are my insights, which I used RStudio to generate: [file:///Users/christinacaddel/Desktop/DATA/Outreachy/EEO_race.html](url)

I do have other projects in which I've used other programming languages

[2018-03-22 08:45] poojasr89 commented on #85
Women have more educative parents than men.

Let us start with a gender consensus of the surveyors who completed the GitHub survey.
![gender_consensus](https://user-images.githubusercontent.com/37288394/37756988-b2020e86-2d68-11e8-8cdd-f229a6963624.png)

Disclaimer: The following analysis may not be a fair comparison since the number of women in the GitHub survey data forms only a very small fract

[2018-03-22 11:36] marimeireles commented on #86
Hey, @emmairwin
I've just finished my contribution and I've updated my results to my [personal repo](https://github.com/marimeireles/twitter-scrapper), you can check my results on the readme file.
I have to say I've spent hours looking for a data set that would inspire me to do something cool but I didn't find anything that's why I created a small one using Twitter API. I hope it's not a problem,

[2018-03-22 16:39] marimeireles commented on #86
Hi @ccaddel
I'm just a contributor to the project but I think I can help.
I've sent an email to Emma today and I got the response that she is going to be away till march 28th and she said we could email Lizz to talk about Outreachy, this is her email: lizz@mozilla.com
If you need it here is Emma email: eirwin@mozilla.com
About the application I believe the deadline depends on your timezone, but yo

[2018-03-22 20:42] poojasr89 commented on #85
With relationship to my previous analysis, I set out to find how education in parents have affected the education in their children (who are the surveyors in our case).

![parents_vs_childrens_education](https://user-images.githubusercontent.com/37288394/37797105-2d0ff968-2dd6-11e8-8452-4d02ee9de95c.png)

Blue shows the number of surveyors who have less education than their parents, orange indicat

[2018-03-23 20:42] emmairwin commented on #89
thank you @akshitac8

[2018-03-23 20:42] #89 closed

[2018-03-23 20:43] emmairwin commented on #86
Thanks @ccaddel  :)

[2018-03-23 20:43] emmairwin commented on #86
@marimeireles  thanks for helping :)

[2018-03-23 20:43] #86 closed

[2018-03-23 20:44] emmairwin commented on #85
@poojasr89  excellent work thank you!

[2018-03-23 20:44] #85 closed

[2018-03-23 20:45] emmairwin opened #94 "Typo"
Typo in:

https://github.com/mozilla/diversity/blob/master/data-metrics/surveys/en/gender-identity.md
 [cotributor/employees]
should be contributor/employee

[2018-03-23 20:47] emmairwin opened #95 "Gender Identity - Clarity for use of fields"
From @jofish
https://github.com/mozilla/diversity/blob/master/data-metrics/surveys/en/gender-identity.md

it’s labelled Gender Identity, and then there’s two questions, one labelled Gender Identity and one labeled Transgender. Is the implication that if one asks one, one should ask the other? I don’t think so; that best practices doc (https://github.com/mozilla/diversity/blob/master/data-metrics/s

[2018-03-23 20:48] emmairwin opened #96 "Gender Identity - Legal Concerns (age)"
from @jofish

 I wanted to ask one detail about that best practices doc: you claim you can’t ask gender identity for people under 19. I think that might need some substantiation.

Why 19? COPPA applies in the US for <13s, and that’s definitely the general rule I’ve seen working in industry in the US. And <19 would mean, say, you couldn’t ask a college freshman who wanted to live in a single-sex do

[2018-03-24 00:10] marimeireles commented on #86
Hi @emmairwin, sorry to bother, but, can I record this [contribution ](https://github.com/mozilla/diversity/issues/86#issuecomment-375273615) on my Outreachy page? I'm not sure if you saw my comment.

[2018-03-24 05:02] akshitac8 commented on #94
Hey @emmairwin I would like to work on this.

[2018-03-24 05:24] akshitac8 commented on #94
Hey @emmairwin I have generated a PR #97 for the same.

[2018-03-24 06:55] akshitac8 commented on #96
Hey @emmairwin  I have written a :book: [blog-post](https://channelcs.github.io/gender-identity.html) for this question. It would be great if you could have a look at it. Also, I request you to suggest any changes required. Thanks. :smile:

[2018-03-24 08:06] Rupal-IIITD commented on #94
@emmairwin

Hi, Emma.
I would also like to work on it, if I can get some pointers to proceed?

[2018-03-24 16:39] #94 closed

[2018-03-24 16:43] akshitac8 commented on #95
Hey @emmairwin  I have written a :book: [blog-post](https://channelcs.github.io/gender-identity.html#designing-forms-for-gender-identity
) for this question. It would be great if you could have a look at it. Also, I request you to suggest any changes required. Thanks. :smile:

[2018-03-24 16:44] akshitac8 commented on #95
If this looks good, may I also generate a PR as a `MD` file?

[2018-03-24 18:51] reCursedd commented on #95
Hello @emmairwin , please let me know what you think!

I think the questions labeled 'Gender Identity'  and 'Transgender' should be two individual questions as they can be used by an organization to deduce separate analysis results. According to the best practices doc if we don't require an information, we don't ask for it.
But I believe, while collecting demographic data and performing analysis o

[2018-03-26 19:43] marimeireles commented on #96
I've done some research and I've learned a number of factors that might prevent people under 19 to express their gender in a survey.

School victimization of Lesbian, gay, bisexual, and transgender‐related is strongly linked to young adult mental and physical health [[1]](https://onlinelibrary.wiley.com/doi/full/10.1111/j.1746-1561.2011.00583.x). I believe that part of the LGBT+ teenagers that are

[2018-03-28 17:21] jywarren commented on #85
Hi, @emmairwin -- unfortunately I won't be able to make the upcoming call, but will try for the next one. @ebarry and I just presented on "welcoming and diversity" at LibrePlanet, mentioning this project and OpenDemographics -- very excited to connect when it'll be possible -- but just to put in this link to our talk (which highlights some difficulties in collecting/understanding demographic data

[2018-03-29 00:08] emmairwin commented on #96
@akshitac8 and @marimeireles thanks for these wonderful responses and research!   I think there are so many things to consider, and that standards for asking questions might look more like a decision tree and where age is only appropriate given specific legal, regional, ethical perspectives.

To your last point @marimeireles we did find that providing too many choices - wasn't really better than p

[2018-03-29 00:10] emmairwin commented on #95
@akshitac8 sorry I was on a small break!   Yes please do propose as an MD file.   I  need to organize some of this into best practices, and will do that once you submit.  thanks!

[2018-03-29 00:13] emmairwin commented on #95
@reCursedd thanks for your thoughts, and I agree.  I think by asking ourselves *why* we ask specific questions in advance, then we get better at ensuring we look for those insights afterwards.  That said, you are right to say they are inclusive of each other - I know in our survey last year people were happy to see as two separate questions, when often they are merged together.

[2018-03-29 00:14] reCursedd commented on #95
@emmairwin , thanks for the task :)

[2018-03-29 01:16] emmairwin commented on #85
Hi Jeffrey,

If you can please update the etherpad with your links or specific asks that
would be great:
https://public.etherpad-mozilla.org/p/open-source-community-call

Thanks! and hope to see you soon.

On Wed, Mar 28, 2018 at 10:21 AM, Jeffrey Warren <notifications@github.com>
wrote:

--
-- Emma Irwin

[2018-03-29 15:57] AshmyAchu commented on #95
Hello @emmairwin,
Based on my understandings from the comments, I agree with what @reCursedd has said, that if a single answer suffices we shouldn't ask for the second information. The simplest questions can make a big difference in shaping people's experience with any product or organisation, and the concept of inclusion demands that every person gets the same fair experience. Since gender identi

[2018-03-29 16:07] Rupal-IIITD commented on #96
I have created a report on my stand on this question:

https://github.com/Rupal-IIITD/Outreachy-contributions/blob/master/Gender%20Identity%20-%20Legal%20Concerns%20(age).md

I support the idea that we can and _should_ talk about gender-related issues and questions with teenagers, and I have mentioned my reasons in this report.

(I have also created a PR for it for Outreachy purposes.)

I'd love t

[2018-03-29 16:12] Rupal-IIITD commented on #95
I have written a small report on this issue here:

https://github.com/Rupal-IIITD/Outreachy-contributions/blob/master/Gender%20Identity%20-%20Clarity%20for%20use%20of%20Fields.md

(I have also submitted this link as a PR for OUtreachy purposes)

I'd love to get your feedback on it.

@emmairwin @jofish

[2018-03-29 19:24] Rupal-IIITD commented on #96
I'll directly quote my thoughts here:

I want to throw some light towards another side of the coin. **I support the idea that we shouldn't limit the survey questions on Legal Concerns based on some age bar such as 19**, as mentioned in #96

- By asking the gender-specific questions from a teenager i.e person <=19 years of age can be of a lot of help for **producing statistics which can address the

[2018-03-30 04:00] akshitac8 commented on #95
Hey @emmairwin I have generated the PR #98 regarding this issue. I somewhat agree with @reCursedd. One thing I would like to add is that, when designing Gender Identity Forms, we should consider is the sensitivity of the matter and people’s perception which should come first rather than just collecting demographic data for data manipulation.

[2018-03-30 06:07] reCursedd commented on #95
@akshitac8 yes, I totally agree to that. I realized that it's a very essential part when I went through your wonderful blog post. I think the primary approach towards diversity and inclusion is to be empathetic and mindful.

[2018-03-30 20:31] marimeireles commented on #96
Hi @Rupal-IIITD
I think you've made a very relevant point saying that we should empower people with less than 19 years old to learn more about gender identity and encourage them to express themselves. I agree with you and I think it'd be great to do something like this.
But from what I understood from the issues that were proposed here the purpouse of the questionnaire isn't to teach people about

[2018-03-30 21:12] Rupal-IIITD commented on #96
Hi,
I understand what you meant to convey.
What I tried to suggest is that rather than restricting gender specific questions to people >19, what we should do is that we should keep another option of "I don't understand such jargons", "Not comfortable to say", "Haven't heard of such a dissection of genders ever before" etc. to know a more real scenario. And this would help us create a cleaner data.

[2018-04-03 19:05] Rupal-IIITD commented on #96
@emmairwin
Would love to know your take on this.

[2018-04-04 18:53] akshitac8 commented on #96
Hi @Rupal-IIITD
I'm also a fellow contributor to the project but I think I can help.
Emma is might be little busy with the new quarter starting and the open source community call. She will respond don't worry. Good luck :slightly_smiling_face:

[2018-04-05 16:34] Rupal-IIITD commented on #96
Then we wouldn't be able to figure out the fundamental reason for people choosing "Prefer not to say". How will we decode it, because we need to (for the reasons I stated above)?

[2018-04-05 18:15] reCursedd commented on #96
I think whether we need to decode it depends on whether we need that particular piece of information. You can as well just work with the given/provided data of gender identity to satiate your questions/curiosity.
I agree with you @Rupal-IIITD that we won't be able to figure out the fundamental reason that way. But first we need to ask ourselves do we need that information? (I understand why it is

[2018-04-05 20:29] #96 closed

[2018-04-05 20:30] #95 closed

[2018-04-09 18:16] #73 closed

[2018-04-09 18:16] #75 closed

[2018-04-09 18:16] #74 closed

[2018-04-09 18:16] #72 closed

[2018-04-09 18:16] #66 closed

[2018-04-09 18:16] #77 closed

[2018-04-09 18:16] #68 closed

[2018-04-09 18:16] #69 closed

[2018-04-09 18:16] #53 closed

[2018-04-09 18:16] #58 closed

[2018-04-09 18:16] #67 closed

[2018-04-09 18:16] #62 closed

[2018-04-09 18:16] #76 closed

[2018-04-09 18:16] #63 closed

[2018-04-09 18:17] #60 closed

[2018-04-09 18:17] #65 closed

[2018-04-09 18:27] emmairwin opened #107 "Through a series of interviews, we understand the history, current status, and vision for CPG response in Mozilla's communities"
## Objective Goal:
*This is a learning task for our new CPG response lead - @musingvirtual :) .**

* Understand how CPG and incident response is currently working (and not working) for community.
* Understand the various types of offenses and reports we’ve dealt with in the past (or are worried about for future).
* Understand culture and history of Mozilla communities

## Item list:
- [ ] Reach ou

[2018-04-09 18:41] Rupal-IIITD commented on #107
Hi.

Am I allowed to take up this issue and work?

(Asking because in the description it's written that it is for the CPG lead - Kate.)

[2018-04-09 22:35] emmairwin commented on #107
Hi @Rupal-IIITD this one is specifically assigned to @musingvirtual but thank you very much for asking.

[2018-04-10 17:55] emmairwin opened #109 "We have a standard process to assist teams in accessing risk related to CPG"
## Objective Goal:
We have a standard process for consulting on volunteer events, elections, nominations with regard to  previous CPG violations, and recommendations.

## Item list:
- [ ]  Identify scenarios where 'in person' or online interactions associated with events, elections or other nomination processes may conflict with CPG recommendations of the past.
- [ ]  Document a processes for team

[2018-04-15 17:27] akshitac8 opened #111 "Proposal for Code of conduct"
## Objective Goal:
It would be nice if we had a code of conduct.
Clearly stating ***acceptable and unacceptable behaviour***

[2018-04-15 17:28] akshitac8 commented on #111
Should I work on this?

[2018-04-15 19:07] musingvirtual commented on #111
HI Akshita,

Thanks for offering to help!

We in fact do already have a code of conduct for this repository, and it's Mozilla's [Community Participation Guidelines](https://www.mozilla.org/en-US/about/governance/policies/participation/).

Thanks,
Kate

[2018-04-15 19:07] #111 closed

[2018-04-15 19:40] akshitac8 commented on #111
Ohkay, @musingvirtual :slightly_smiling_face:

[2018-04-16 19:38] musingvirtual opened #113 "Wiki Template for the Diversity in Open Source call"
Seeking volunteer contributors for this one - please read our updated [Readme](https://github.com/mozilla/diversity/blob/master/README.md) before contributing.

## Objective Goal:

Create a wiki template for the [ Diversity in Open Source calls](https://wiki.mozilla.org/Diversity_and_Inclusion_for_Communities_and_Contributors#D.26I_in_Open_Source_Community_Calls), and populate the template for the

[2018-04-16 19:41] akshitac8 commented on #113
Hello, @musingvirtual I want to volunteer  :slightly_smiling_face:

[2018-04-16 20:08] akshitac8 commented on #113
Hey, @musingvirtual I was trying to make a Mozilla wiki account and there is a field for

`Name of mentor or guide at Mozilla`

What information should I fill in that field?
Thanks.

[2018-04-16 20:55] musingvirtual commented on #113
Hi Akshita! Thanks for taking this one on.

You can put my name down (Katherine Mancuso).

[2018-04-16 20:56] akshitac8 commented on #113
Thank you for the info :smiley:

[2018-04-17 14:36] reCursedd commented on #113
Hello,

Can I volunteer for this too?

On Tue, Apr 17, 2018, 2:26 AM Akshita Gupta <notifications@github.com>
wrote:

[2018-04-17 15:08] marimeireles commented on #113
Hey, I'd like to help if the girls need any help. :)

[2018-04-17 22:40] avneet14027 commented on #113
Hey! Can I wok on this too, if needed?

[2018-04-17 23:05] musingvirtual commented on #113
Hi everyone -

Thanks for the enthusiasm!

I'll let @akshitac8 decide if she would like to work together with others this time.

Next time I have a task I'll try to divide the task into parts if that's possible so more of you can have a part.

[2018-04-18 06:49] akshitac8 commented on #113
Hey, I am almost done with the task. @musingvirtual  Will it be feasible to add more people to the final stage?
For future tasks, we can take care that everyone's involvement and ideas are included.

[2018-04-21 15:01] akshitac8 commented on #113
Hey @musingvirtual
These are the links to the changes made at Mozilla wiki. It would be great if you could  suggest if any changes needed :smiley:

https://wiki.mozilla.org/Diversity_and_Inclusion_for_Communities_and_Contributors

https://wiki.mozilla.org/Diversity_and_Inclusion_for_Communities_and_Contributors/D%26I_Call_2_28_2018

https://wiki.mozilla.org/Diversity_and_Inclusion_for_Communities_

[2018-04-23 18:42] akshitac8 commented on #113
Thank you @emmairwin :slightly_smiling_face:

[2018-04-23 23:42] emmairwin opened #114 "CPG Operations"
## Objective Goal:
We have established a series of requirements to operationalize, and scale CPG response for communities, with executive approval of a system for collecting report data.

## Related documents and links
* Charter:  https://docs.google.com/document/d/1MihOZJNGLTPUwZ_OsrwIysEcJRjJQQQXiLqtPVfNjJ4/edit?ts=5acbbc10

[2018-04-23 23:45] emmairwin opened #115 "D&I for Contributors and Communities"
## Objective Goal:
Leveraging a draft framework for D&I consultation, we have developed, proposed and launched D&I strategies for 1-2 priority projects, with clear outcomes for success, timelines and accountability.

## Related documents and links
[Charter](https://docs.google.com/document/d/1qRd0I3R-quGnMXtTcds35stA6oFUYJI21FN8TA8oa7E/edit)

[2018-04-24 00:31] emmairwin opened #117 "All planning and outreach for D&I in Open Source Call #3 is completed"
## Related documents and links
* [Wiki](https://wiki.mozilla.org/Diversity_and_Inclusion_for_Communities_and_Contributors#D.26I_in_Open_Source_Community_Calls)

## Item list:
- [ ] Finalize CoC Panel (R: @emmairwin)
- [ ] Write blog Post and update Wiki pages  (R:@emmairwin)
- [ ] Prepare Etherpad & Zoom Feed (unknown) (R: @emmairwin)
- [ ] Finalize Video

## Related Issues
[Reference meta issues

[2018-04-24 00:38] emmairwin opened #118 "Participation in CHAOSS Working Group"
## Objective Goal:
Our participation and leadership in the CHAOSS D&I Working group brings value to that project's initiatives, while building on our goals for D&I standards and best practices.

## Related Issues
https://github.com/chaoss/wg-diversity-inclusion

[2018-04-24 00:54] emmairwin opened #119 "Present CPG Work on next Reps Call"
## Objective Goal:
Present work to date, and planning on Reps call for CPG

[2018-04-24 00:57] emmairwin opened #120 "Investigate Video Solution"
## Objective Goal:
We have found a video solution for our D&I call that provides:

* min 30 people to join
* Streaming to Youtube (preferred), or posting to YouTube after.
* Open Source, or has some value to FOSS communities
* Works on multiple platforms (i.e. does not require software install that doesn't work on Linux

Looking for help on this one.  We have been using Hangouts but it is limited

[2018-04-24 18:15] emmairwin opened #121 "Preparing for Interviews"
## Objective Goal:
Leveraging existing resources, and opportunity to talk with knowledge experts, I have prepared for, and begun to setup interviews.

## Related Issues
[Reference meta issues and past issues] #

[2018-04-24 18:30] emmairwin opened #122 "Finalize Charters"
## Objective Goal:
We have sign-off on all OKR/and KR for D&I Charters for Q2

[2018-04-24 18:34] musingvirtual opened #123 "CPG post-case survey"
## Objective Goal:
CPG post-case survey is designed and in flight and stakeholders rate us at a 3 or higher.

## Related documents and links
* [Existing Survey](https://docs.google.com/forms/d/1QljNKojjUXuTqMj73brlfR-pp55NG8pFKyq6bFXfwJ4/edit#responses)

## Item list:
- Kate (Emma too?) to review survey to see if there are new things we should ask.
- Kate to send survey to folks who have recently

[2018-04-24 18:35] emmairwin opened #124 "D&I + Services Design"
## Objective Goal:
Understand, and set goals for planning D&I + Service design to OSSN and 2 other projects

[2018-04-24 18:38] musingvirtual opened #125 "follow-up"

[2018-04-24 18:38] musingvirtual opened #126 "follo"

[2018-04-24 18:39] #126 closed

[2018-04-24 18:39] #125 closed

[2018-04-24 18:40] musingvirtual opened #127 "Design CPG Follow-up process"
## Objective Goal:
CPG follow-up process has been designed and is actively implemented on each case.

## Related documents and links
* [Follow-up process](https://docs.google.com/document/d/1dO8deQF_TM0G4oursi0AmiK7SwQp7vVKsHe21oEXv0E/edit)

## Item list:
- Kate to dig into fleshing out follow-up doc already designed, and moving the follow-up doc into a format that is easy to send to stakeholders.

[2018-04-24 18:43] emmairwin opened #128 "D&I Exec Presentation"
## Objective Goal:
Propose a next-iteration of the exec content

## Item list:
- [ ] Iterate on content based last review, and propose to Lucy

[2018-04-24 18:45] emmairwin opened #129 "Review & Select Mozfest D&I Volunteer"
## Objective Goal:
Together with Mozilla Foundation, we have selected a volunteer for Mozfest

[2018-04-24 18:48] musingvirtual opened #130 "CPG process is well-documented and consistently followed and we have a baseline for improvements"
## Objective Goal:
Existing CPG process is well-documented and consistently followed on each case, and we iterate on it between cases.

## Related documents and links
* [CPG Process Workflow and questions](https://docs.google.com/document/d/1_7aOQj9wWWDXGp9_L-pPHN0-zgFMp9F3IGOZl7sFRJc/edit#)
* Existing CPG process is well-documented and consistently followed on each case, and we iterate on it betw

[2018-04-24 18:50] emmairwin opened #131 "CPG Questions for MoFo"
## Objective Goal:
Complete standards for CPG questions as requested for site hosts, and participants.

[2018-04-24 19:13] emmairwin commented on #121
Follow up note - to prioritize conversations as discussed.

Also here is link to 'Increasing Rusts Reach'

http://reach.rust-lang.org/

[2018-04-25 02:01] emmairwin commented on #120
Decided on Zoom for next call

[2018-04-25 02:01] #120 closed

[2018-04-26 19:47] akshitac8 commented on #113
Is there anything else, I can do here ?? :slightly_smiling_face:

[2018-05-01 18:15] musingvirtual commented on #107
I have finalized the script and currently have 5 scheduled interviews, 3 of which are this week.

In this upcoming week I am intending to schedule several more interviews for next week, as well as carry out these three interviews and see if I need to iterate on the script.

[2018-05-01 18:16] musingvirtual commented on #121
Completed!

[2018-05-01 18:16] #121 closed

[2018-05-01 18:17] emmairwin commented on #124
I met with Rina, and understand the ways we can work with D&I + Service design to be the following:

* Mozillians  (We'll get an update on milestones of work later this month) - no action for us
* Common voice (I have setup a meeting with Michael, to see where we can set goals)
* Web Compat ( I need to understand this more)

We also talked about Firefox and accessibility, Rina to create setup intr

[2018-05-01 18:43] emmairwin opened #132 "Sprint - Springtime"
## Communities & Contributors

* We have reached out to 3 OI team, and 5 priority projects to explore ways of embedding D&I.  R (@emmairwin @musingvirtual ) - [TRACKING](https://docs.google.com/spreadsheets/d/1npw2woFMIKVHc9uU38ecslrf8H7fx4pna1G6RS1ZI7E/edit#gid=106631458)
* We have created and are moving forward with proposals for working on specific problems with 4 teams (2 OI, 3 Priority).  (@e

[2018-05-01 20:05] emmairwin commented on #124
@musingvirtual this task is specifically about engagement through service design (rina) I did add this tracker to our sprint list.

[2018-05-01 20:08] emmairwin opened #133 "We have completed a high quality D&I in Open Source Call #3 for panel members and participants"
## Objective Goal:
Detailed description on what should happen to conside this a success.

## Item list:
- [ ] Run the call (R: @emmairwin)
- [ ] Order swag for those who provide addresses (R: @emmairwin)
- [ ] Send out survey to panel and participants (R:)
- [ ] Individual item that should happen (R:)

## Related Issues
[Reference meta issues and past issues] #

[2018-05-01 20:17] emmairwin opened #134 "We have proposed and are moving forward with 2 OI teams for Q2 & Q3"
## Item list:
- [ ] Identify, interview and propose D&i goals for three OI teams  (R: @emmairwin)

[2018-05-01 20:21] emmairwin opened #135 "Talking Points for D&I Consultation"
## Item list:
- [ ] A high level document, is created with initial areas of expertise, as talking points for D&I consultation (R: @emmairwin)

#

[2018-05-01 20:45] emmairwin opened #136 "A storyboard for exec D&I presentation is created"
Moving from content, create and collaborate on a storyboard for this presentation with Alex, Lucy & George

[2018-05-01 20:48] emmairwin opened #137 "An update of the Systems Risk presentation is created, and scheduled time for presentation to Katharina is completed (or on the calendar"
## Item list:
- [ ] Update the presentation as per feedback (R: @emmmairwin)
- [ ] Send back for final review to Shoshana and George and ensure final presentation is in the calendar. (R: @emmmairwin)

## Related Issues
[Reference meta issues and past issues] #

[2018-05-01 20:55] emmairwin opened #138 "Document and communicate alingment between Mozilla goals and D&I CHAOSS working group"
## Objective Goal:
really this is just to move from 'we're in this working group' to 'we're in this working group, and here is how it aligns with our goals, and what we hope to accomplish towards shared goals by the end of Q3.

It's also a flag that we need to better understand milestones and attributes of success for that working group .

[2018-05-01 20:58] emmairwin opened #139 "We have organized and run at least 2 more D&I Calls, with learning from the last calls built in"
## Item list:
- [x] Organize Call #4 online
- [ ] Organize Call #5 in Portland (or similar) (R:)

[2018-05-01 21:05] emmairwin opened #140 "Investigating Publications"
I have goals, and a better understanding of ways to involve press/article coverage.

[2018-05-01 21:09] emmairwin opened #141 "Move L10N Discussion Topics foward"
A placeholder for the work I'm doing with L10N, which is an internal OI project

[2018-05-01 21:17] emmairwin opened #142 "Document how FOSS HB and/or a subset functionality of FOSS HB can bring value to baseline measurements for community health"
## Item list:
- [ ] Understand where we are with sentiment analysis with Nebraska , including questions about how effective sentiment is in handling English-as-second-language .
 - [ ] Create a checklist of what we would want from a community health baseline tool, and review FOSS HB to see if those exist.
 - [ ] Propose FOSS HB 2.0 based on findings and priorities (if it makes sense to)

## Relate

[2018-05-02 20:51] musingvirtual opened #143 "Interviewing!"
## Objective Goal:
Complete 10 interviews

## Related documents and links
* https://docs.google.com/document/d/1huaIiCdOmiaOctr-Oe6uC-hDLeq4eymde-rqsYSzjaA/edit

## Item list:
- [x] Schedule 5 interviews for w/c May 7th (R: Kate)
- [x] Carry out 2 scheduled interviews on Friday (R: Kate)
- [x] Carry out 5 interviews w/c May 7th (R: Kate)

[2018-05-02 20:53] musingvirtual opened #144 "Draft Roadmap for CPG Process Improvements"
## Objective Goal:
Have first full draft of CPG process improvements, and understand where interviews could improve this, and revise questions accordingly

## Related documents and links
* [Links here](/thelink)

## Item list:
- [x] Kate to produce draft roadmap (R: Kate)

## Related Issues
[Reference meta issues and past issues] #

[2018-05-02 20:56] musingvirtual opened #145 "Satisfaction survey"
## Objective Goal:
Get back feedback from survey and digest it accordingly.

## Related documents and links
* https://drive.google.com/open?id=1QljNKojjUXuTqMj73brlfR-pp55NG8pFKyq6bFXfwJ4

## Item list:
- [x] Need to finalize list of who receives survey (R: Emma/Kate)
- [x] Send out survey (R: Kate)
- [x] Chase for results (R: Kate)
- [ ] Make doc with results
- [ ] Individual item that should hap

[2018-05-02 20:58] musingvirtual opened #146 "Complete at least one specific task for CPG process improvement"
## Objective Goal:
Complete at least one specific task for CPG process improvement, as detailed in roadmap. Probably this is designing the follow-up form that Kate started mapping, but it could be another task.

## Related documents and links
* [to add once there is a roadmap]

## Item list:
- [x] After generating roadmap, identify what task should happen by Monday May 7th (R: Kate)
- [ ] Make a d

[2018-05-11 21:14] emmairwin commented on #138
delayed for next meeting

[2018-05-11 21:15] emmairwin commented on #142
this is not a priority

[2018-05-12 21:42] emmairwin commented on #135
Created this deck, as first draft of 'D&I in Open Source - Catalogue of Services' - to act as a talking point for projects./teams in how we can help them, and where that might fit.

https://docs.google.com/presentation/d/10kZjfsmRQUCXu7zSaMFlYPhILihphLdm89Oc2w0v3lA/edit#slide=id.g25275a8168_2_365

[2018-05-14 19:52] musingvirtual commented on #144
[Completed!](https://docs.google.com/document/d/1u-S_Ob_FE6EKG_fi_K62kD_IQ1noQpHHJ399DXlKy2E/edit?disco=AAAAB4ww7AM&ts=5af9e2f7)

[2018-05-14 19:53] musingvirtual commented on #143
Due to people's schedules I've completed 7 with 3 already scheduled for this week - next sprint's to-do is to schedule the last 5 and carry out the last 8!

[2018-05-14 19:56] musingvirtual commented on #145
Need to chase this up have only gotten one response.

[2018-05-14 19:57] musingvirtual commented on #127
No luck in Springtime, moving to Tower of London Sprint.

[2018-05-15 00:28] #142 closed

[2018-05-15 00:28] #132 closed

[2018-05-15 00:28] #124 closed

[2018-05-15 00:28] #135 closed

[2018-05-15 00:28] #134 closed

[2018-05-15 00:28] #137 closed

[2018-05-15 00:28] #119 closed

[2018-05-15 00:28] #131 closed

[2018-05-15 00:28] #133 closed

[2018-05-15 00:28] #113 closed

[2018-05-15 00:28] #117 closed

[2018-05-15 00:28] #122 closed

[2018-05-15 00:28] #118 closed

[2018-05-15 00:28] #128 closed

[2018-05-15 00:28] #129 closed

[2018-05-15 18:59] emmairwin opened #147 "Sprint - Tower of London"
## Communities & Contributors
* We have proposed, incorporated feedback and are moving forward with 3 priority project plans for D&I ([Tracking](https://docs.google.com/spreadsheets/d/1npw2woFMIKVHc9uU38ecslrf8H7fx4pna1G6RS1ZI7E/edit#gid=106631458))
* We have proposed an initial storyboard presentation to stakeholders and designer for feedback.
* We have a plan for All Hands sessions for D&I.
* We

[2018-05-17 00:00] #144 closed

[2018-05-17 00:00] musingvirtual commented on #146
Still working on this one, moved to Tower of London.

[2018-05-17 00:01] musingvirtual commented on #145
Just chased.

[2018-05-17 00:09] musingvirtual opened #148 "Interviews part 2!"
## Objective Goal:
Complete 8 interviews

## Related documents and links
* https://docs.google.com/document/d/1huaIiCdOmiaOctr-Oe6uC-hDLeq4eymde-rqsYSzjaA/edit

## Item list:
- [ ] Schedule 6 interviews for w/c May 21st (R: Kate)
- [ ] Carry out 2 scheduled interviews this week (R: Kate)
- [ ] Carry out 6 interviews w/c May 21st (R: Kate)

## Related Issues
[Reference meta issues and past issues]

[2018-05-18 19:50] emmairwin opened #149 "Learn about Community Analytics Dashboard"
## Objective Goal:
You understand how to navigate, and use the Community Analytics Dashboard, and have documented some early insights into the Dev Tools/Debugger Github community.

Emma to email links

[2018-05-18 20:04] emmairwin opened #150 "Be able to answer the question ? 'What is Scale for CPG Resolution?""
Reach out to open communities with CoC incident response, or orgs with with similar non-staff communities of volunteers to better understand what a fully operational, scaled process would require in terms of:

* Resource Time
* (Volume) Reports per week and by report 'complexity type' (small, medium, large)
* Approx

With the assumption that we have our systems in place, based on our existing work

[2018-05-18 20:05] akshitac8 commented on #149
I am on it :)

[2018-05-19 21:00] akshitac8 commented on #149
Do I need to write some documentation about the tool or just continue analysing and study its components?

[2018-05-19 21:36] musingvirtual opened #151 "Draft 1.0 of CPG Roadmap"
## Objective Goal:
We have identified , prioritized and organized a series of tasks by quarter - that will on completion result in effective response to CPG reports in Mozilla's communities in end of 2018/2019.

## Related documents and links
* [Roadmap v 2](https://docs.google.com/document/d/13sPUnEWlX9K_eA_Jk5zK1yWJZZRKzSZaBniYS09e0MI/edit#)
* [Roadmap v 1](https://docs.google.com/document/d/1u-

[2018-05-19 21:39] musingvirtual commented on #148
Mid-sprint update - unfortunately neither person I was supposed to interview turned up to their interview this week. Now hoping to finish by end of month since I won't be able to carry out 8 this week.  Have reached out to 6 more folks about interviews and rescheduled the ones from this week.

[2018-05-19 21:40] musingvirtual commented on #143
Closing this one as I've created a new task for the next sprint's interviews.

[2018-05-19 21:40] #143 closed

[2018-05-19 21:56] musingvirtual commented on #146
Closing this as a duplicate of #127 (my own fault)

[2018-05-19 21:56] #146 closed

[2018-05-20 19:54] musingvirtual opened #152 "Kate to do presentation on SuMO call"
## Objective Goal:
Presentation delivered on SuMO call May 23rd in order to educate SuMO community about CPG.

## Related documents and links

## Item list:
- [x] @emmairwin to provide link to slides used for reps call (R: @emmairwin )
- [x] Kate to revise slides (R: Kate)
- [x] Kate to give talk (R: Kate)

## Related Issues

[2018-05-21 17:41] emmairwin opened #153 "Schedule interview with Addons to inform priority projects."
## Objective Goal:

- [ ] Setup a call with Addons (and Emma)  (@musingvirtual )
- [ ] Update proposal document based on this call. (@emmairwin)

[2018-05-21 17:47] emmairwin opened #154 "Complete Onboarding Steps"
## Item list:
- [x] You have been added to Open Innovation team, and other Slack channels, please update your profile with full name,  pronouns your profile ( and familiarize yourself with the names and pronouns of others on the team)
- [x] Complete Reading provided in email
- [x] Make sure you can view Zenhub dashboard, and update tasks accordingly
- [x] Outreach blog post

[2018-05-21 17:54] emmairwin commented on #149
I would like you to learn about this tool, and then think about ways you could apply to to say learn about a project.  One specific one I would like you to use, is a real case study  we need:

https://github.com/devtools-html/debugger.html

The link I gave you is for this repository.    Steps would be

-[ ] Spend time learning about the tool as a whole (click around, see what it can do, what you c

[2018-05-21 18:15] emmairwin opened #155 "Finalize list of 8 for further interview"
## Item list:

- [x] Finalize script and final 8  (R: @emmairwin @musingvirtual )
- [x] 8 calls are scheduled ( R @musingvirtual )

## Related Issues
[Reference meta issues and past issues] #

[2018-05-21 18:26] emmairwin opened #156 "We have identified and prioritized user stories for the systems project, based on the recommendations approved by legal regarding risk."
## Item list:
- [x] Emma to propose goals and format for capturing user stories(R: @emmairwin)
- [x] Kate to review and add  (R: @musingvirtual )
- [x] Finalize and prioritize and run by Arielle & Henrik (R: @emmairiwn @musingvirtual )

[2018-05-21 19:42] emmairwin commented on #152
https://docs.google.com/presentation/d/1ZXcSptpFhfWLUDHDY9p0DYbeG3HAvrrbGh26LT9JRlQ/edit?usp=drive_web&ouid=112031452392775547359

[2018-05-21 19:45] emmairwin commented on #155
FYI, I have asked Mrinalini to prioritize rescheduling with you when they return.

[2018-05-23 00:47] #153 closed

[2018-05-24 20:43] emmairwin commented on #107
This is duplicate of #155

[2018-05-24 20:43] #107 closed

[2018-05-24 20:44] emmairwin commented on #148
This is a duplicate of #107 or it's own task?

[2018-05-24 20:45] emmairwin commented on #130
Hi @musingvirtual

Where do you want ti file this?   This is the roadmap now I think?

[2018-05-24 20:45] musingvirtual commented on #148
I'd been creating smaller per-sprint subtasks like this one (and 155) since #107 was not created with sprint timing in mind but rather with a 3 month view. I'm very sorry if I did it wrong!

[2018-05-24 20:49] musingvirtual commented on #130
This is super old and again is pegged against my 3 month goals and not a particular sprint.

[2018-05-24 21:38] emmairwin commented on #148
SO shall close this then?

[2018-05-24 21:41] emmairwin commented on #130
Does it feel relevant to you still?

[2018-05-24 22:30] musingvirtual commented on #130
I think we should close this, because it was from a completely different working framework. It would possibly be good to have our quarterly goals in the repository as some kind of larger framework to map sprints against, but that's not going to be accomplished with a task, that's a completely different object.

[2018-05-24 22:30] #130 closed

[2018-05-25 18:08] emmairwin opened #157 "Sprint - Constantinople"
[Sprint View ](https://github.com/mozilla/diversity/milestone/10)

[2018-05-25 23:26] emmairwin commented on #141
completed CPG topic meeting, one more to go, next sprint.

[2018-05-25 23:26] #141 closed

[2018-05-25 23:27] emmairwin commented on #139
*Call 4 is mostly organized, speakers lined, up swag order in, need to setup webinar links and etherpad still..
* Portland call - is scheduled for July 14th, after the conference.  started event planning ticket
* confirmed open gov call + archetypes goals with patrick for end of june call

[2018-05-25 23:27] #139 closed

[2018-05-25 23:28] emmairwin commented on #109
closing until we have our roadmap completed.

[2018-05-25 23:28] #109 closed

[2018-05-29 01:31] emmairwin commented on #154
great work!

[2018-05-29 01:31] #154 closed

[2018-05-29 01:37] emmairwin commented on #149
@akshitac8

You definitely do not need to write documentation.   Here is what would be helpful.
Write out the Top 10 most interesting things you learned about devtools-html/debugger.html by looking at the dashboard.

And for each of those 10, how someone else find that same data (steps to recreate)

Does that make sense?

[2018-05-29 01:48] emmairwin opened #158 "D&I in Open Source Call Planning"
## Objective Goal:
We are running high quality, and compelling calls that attract d&i leadership, and community leadership across the open source ecosystem - while bringing value back to Mozilla

https://wiki.mozilla.org/Diversity_and_Inclusion_for_Communities_and_Contributors#Future_Calls

## Item list:
- [x] Run D&I call #4 (R: @emmairwin)
- [ ] Get panel speakers by Archetypes for June 27th cal

[2018-05-29 01:55] emmairwin opened #159 "Women's safe channel is Wrapped up with clearly defined next steps"
## Objective Goal:
Women's safe channel is Wrapped up with clearly defined next steps

## Item list:
- [x] Final pilot discussion completed (R: @emmairwin with Delphine)
- [x] Anonymized report back of key learning, and recommended next steps shared. (R: @emmairwin)

[2018-05-29 01:59] emmairwin opened #160 "D&I Sessions & Meetings for All Hands are Scheduled"
## Objective Goal:
Planning goals, inviting people for D&I All Hands goals.

## Related documents and links
* [Links here](/thelink)

## Item list:
- [x] List goals for D&I Sessions  (R: @emmairwin)
- [x] Agree on content   (R: @emmairwin) @musingvirtual)
- [x] Identify meetings that should happen (R: @emmairwin, @musingvirtual )
- [x] Send invites for sessions and meetings as agreed-on.  (R: @emm

[2018-05-29 02:01] emmairwin opened #161 "Begin conversations about D&I standards"
## Objective Goal:
We have some early ideas about how to surface our CPG standards and best practices .

## Related documents and links
* [Links here](/thelink)

## Item list:
- [ ] Reach out to, and discuss with external leaders interested (R:@emmairwin)
- [ ] Talk to a librarian! (R:@emmairwin)

[2018-05-29 02:03] emmairwin opened #162 "A proposal for our priority project has been signed-off by stakeholders"
## Objective Goal:
A proposal for our priority project has been signed-off by stakeholders

## Item list:
- [x] Initial proposal written and shared with George, Lucy, @musingvirtual   (R: @emmairwin)
- [x] Proposal iteration is shared with broader stakeholders on OI (R @emmairwin:)
- [ ] Proposal is shared presented to Dev Tools team (R: @emmairwin)

[2018-05-29 02:05] emmairwin opened #163 "A CPG Interface has been proposed and added to Common Voice repository"
## Objective Goal:
A CPG Interface has been proposed and added to Common Voice repository

## Item list:
- [ ] Aligned with CPG roadmap goal, and in consultation with  we have created a lightweight proposal for a CPG reporting interface for Common Voice
- [ ] CPG interface is added to Common Voice project

[2018-05-29 02:46] emmairwin opened #164 "Create CoC Evaluation Checklist"
## Objective Goal:
A checklist for evaluating the existence, relevance and effectiveness of a code of conduct is created, and reviewed, this will benefit OSSN, and probably MOSS (TBD)

## Item list:
- [ ] Proposal is created for D&I addition OSC checklist for FOSS Projects(R: @emmairwin)
- [ ] Proposal is circulated for review with peers

## Related Issues
[Reference meta issues and past issues] #

[2018-05-29 03:12] #147 closed

[2018-05-29 03:39] emmairwin opened #165 "Weekly CPG report is proving value to leadership"
## Objective Goal:
Sheduled, weekly CPG update is proving value to key stakeholders

## Item list:
- [ ] A scheduled update of CPG cases, with added timeline, and names is provided on a predictable schedule is regularly to  identified stakeholders.(R: @musingvirtual )
- [ ] An email at the end of the quarter, to stakeholder requesting ROTI  results in 4.0 or greater . (R:@musingvirtual )

[2018-05-29 03:43] emmairwin opened #166 "Complex CPG Cases are moving according to identified timeline"
## Objective Goal:
Complex CPG Cases(of which there are only 2 currently) are moving according to timeline

## Item list:
- [x] Timelines for more serious/complex cases have been documented, updated and on track (R: @musingvirtual )
- [ ] A template for timelines has been contributed to the Github repo (R: @musingvirtual )

[Reference meta issues and past issues] #

[2018-05-29 03:49] emmairwin commented on #155
update - how many calls have been scheduled>? so we can set goals for next sprint.

[2018-05-29 13:58] akshitac8 commented on #154
Thank you :)

[2018-05-29 14:01] akshitac8 commented on #149
Yes, definitely this is really helpful. I will tweak the data added to the list and will update you with the list.

[2018-05-29 14:30] #152 closed

[2018-05-29 15:06] emmairwin opened #167 "3 systems demos have been scheduled (and are underway, or completed)"
## Objective Goal:
Informed by user stories, systems requirements and in consultation with stakeholders, we have started research into the best Hotline system for CPG community response.

### Roadmap & Deadlines

- [x] Kate and Emma build user stories doc (Tower of London Sprint)

- [x] Kate and Emma do demo with Convercent (May 30th)

- [x] Emma generate alignment with Henrik & George (June 1)

-

[2018-05-29 16:44] emmairwin opened #168 "We have an educated guess at 'What is CPG at Scale?'"
## Objective Goal:
Based on a series on interviews with community managers, and external orgs/projects we can describe and give a high level estimate response @ scale.

## Item list:

Hazel:
- [x] We have identified a set of attributes that we know to be influencing factors in time-cost of running a scaled CPG response i.e. Volume, Severity
- [x] Kate to revise questions and give to Akshita who wi

[2018-05-29 23:41] emmairwin commented on #168
Updated task description.

[2018-05-30 17:48] emmairwin opened #169 "We have prepared an executive presentation on D&I work"
## Item list:
- [ ] Finish slides (R:)
- [ ] Schedule meetings

[2018-06-01 00:42] emmairwin commented on #149
Hi @akshitac8

Thanks for your work so far!   Here's my next ask :)
Look at only the https://github.com/devtools-html/debugger.html repo.
If you're not sure how to change repos, go into #participationsystems in Slack and ask  - someone will help you.   Then...

I'll email you some next steps.

[2018-06-01 09:34] hmitsch commented on #149
Hi @akshitac8,

thanks for looping me into the conversation.

Have you had a look at (some of) this:
https://wiki.mozilla.org/ParticipationSystems/CommunityAnalytics

Also, let's touch base on Slack, I'd hope I can jump on a call with you to look at some of the questions you have in a live conversation with Community Analytics in front of us.

Lastly, I hope you are aware that Susy is trying to ar

[2018-06-01 11:37] akshitac8 commented on #149
Thank you @hmitsch for looping in I have replied on slack also and would love to get involved in the conversation.

[2018-06-03 00:03] musingvirtual commented on #167
Have scheduled some time on Monday to bash out a plan and approximate timeline for this work, will send it for your review when it is done.

[2018-06-03 00:04] musingvirtual commented on #166
Have scheduled some time on Monday to build a Rust timeline and also a template for timelines.

[2018-06-03 00:08] musingvirtual commented on #155
Basically done with many interviews scheduled for next week (still waiting for Michael Henretty to email me back and let me know it's okay to schedule a time).

[2018-06-03 00:08] musingvirtual commented on #151
Have scheduled time on Monday to review Emma's work on the roadmap.

[2018-06-06 05:12] musingvirtual commented on #167
Emma, I added a rough draft of a timeline at least for this sprint, I'll figure out the next sprint after meeting with Arielle.

[2018-06-06 05:49] emmairwin commented on #167
Looks good!

On Tue, 05 Jun 2018, 10:12 PM Katherine Mancuso, <notifications@github.com>
wrote:

[2018-06-06 12:34] drashti4 opened #170 "Adding CONTRIBUTING.md"
## Objective Goal:
Add CONTRIBUTING.md for better understanding to new contributors.

## Item list:
- [ ] How to install (If required)
- [ ] What type of skilled people we're looking for
   - D & I speakers
   - Document & writing
   - Research & Planning
- [ ] Some beginner friendly label (good first bug)

Do you think this is necessary for an open-source project?

[2018-06-06 16:44] musingvirtual commented on #170
Hi Drashti! Welcome to Mozilla Diversity!

I'm not quite sure whether you are asking advice for your project or whether you want to contribute one of these here.

Yes, I think this would be a great idea for an open-source project in general to help contributors get started!  If you're looking to contribute to our project, our Readme.MD covers most of this ground. Our good first bug label is "quick

[2018-06-07 13:25] drashti4 opened #171 "Add community call updates"
## Objective Goal:
Update community call details with resources.

## Related documents and links
* [Community call list](https://github.com/mozilla/diversity/blob/master/community-calls/02.27.2018.md)

This is unclear to me. I'm willing that our all community call should be listed in repo but above link is about physical community call only?

[2018-06-07 20:47] emmairwin commented on #170
I think that would be great if you could start a contributing.md.

https://mozillascience.github.io/working-open-workshop/contributing/

Feel free to ask us questions to help you build it :)

[2018-06-07 20:48] emmairwin commented on #171
We're currently using the wiki to track calls.

https://wiki.mozilla.org/Diversity_and_Inclusion_for_Communities_and_Contributors#D.26I_in_Open_Source_Community_Calls

[2018-06-07 20:49] #171 closed

[2018-06-08 01:32] emmairwin opened #172 "Code Safe Channel Discussion"
## Objective Goal:
We have coded the themes from our safe-channel discussions .

As there is sensitive topics here, most content is sent to Akshita in email.

@akshitac8 if you could have this by next Wednesday the 13th we would be very happy.  Thanks!

[2018-06-08 06:32] akshitac8 commented on #172
I am on it :)

[2018-06-08 16:09] emmairwin opened #173 "Move File to Outreachy Folder"
@drashti4 Please remove this file:

https://github.com/mozilla/diversity/blob/master/data-metrics/surveys/%5BRupal%20Jain%5D%20Survey%20Questions%20for%20Open%20Source%20Analysis

from this folder:
https://github.com/mozilla/diversity/tree/master/data-metrics/surveys

and place in this folder:

https://github.com/mozilla/diversity/tree/master/outreachy

[2018-06-08 16:13] emmairwin opened #174 "Move Onboarding FAQ File to Process Folder"
Create a new folder called community_comms in this folder:

https://github.com/mozilla/diversity/tree/master/code-of-conduct-enforcement/decisions/communication

Please move:

https://github.com/mozilla/diversity/blob/master/code-of-conduct-enforcement/FAQ%20-%20Contributor.md

into the community_comms folder

[2018-06-08 16:16] emmairwin opened #175 "Update OS Call WIki Page for June 27th"
You will need to sign up for a mozilla wiki account.

[On this wiki page ](https://wiki.mozilla.org/Diversity_and_Inclusion_for_Communities_and_Contributors#D.26I_in_Open_Source_Community_Calls)

1. Please move June 6th call information, from under 'future calls' to 'past calls'.
2.  Please link the June 27th call [to this page ](https://wiki.mozilla.org/Diversity_and_Inclusion_for_Communities_and

[2018-06-08 16:21] emmairwin opened #176 "Create a Dropbox Paper Agenda Call for June 27th"
Etherpad is going away, so we need to use a different page for agendas.
we have been using this [etherpad for D&I calls](https://public.etherpad-mozilla.org/p/open-source-community-call).

1. [Using this Dropbox Page](https://paper.dropbox.com/doc/Inclusive-Open-Governance-DI-Community-Call--AEnMZ~ryFTzq9LBaV76hZuaHAQ-oTHqiVlHaxv11UIUF4qbY). Create an agenda with the following titles (refer to eth

[2018-06-08 17:08] drashti4 commented on #170
Just adding [https://mozilla.github.io/open-leadership-training-series/articles/building-communities-of-contributors/write-contributor-guidelines/](https://mozilla.github.io/open-leadership-training-series/articles/building-communities-of-contributors/write-contributor-guidelines/) for reference

[2018-06-08 17:30] drashti4 commented on #174
Done :+1:

[2018-06-08 18:18] emmairwin commented on #173
Thank you!!!

[2018-06-08 18:18] #173 closed

[2018-06-08 18:18] #174 closed

[2018-06-08 18:59] emmairwin commented on #176
And yes Dropbox is proprietary, please suggest open alternatives to etherpad, because I don't know of any.

[2018-06-08 19:09] akshitac8 commented on #176
How about Nuclino or Firepad? And should I assign this task to myself?

[2018-06-08 20:35] emmairwin commented on #176
please do assign to yourself, and list your research here for others to find!

[2018-06-09 02:41] akshitac8 commented on #176
We can also use HackMD or piratepad

[2018-06-09 03:29] drashti4 commented on #176
- Risepad(its connected to etherpad) don't know whether suits or not
- oasis.sandstorm.io we use this in other communities.

[2018-06-09 05:46] drashti4 commented on #175
Done

[2018-06-09 07:35] akshitac8 commented on #176
oasis.sandstorm.io, This looks quite decent :smiley: What do you say @emmairwin?

[2018-06-09 16:56] musingvirtual commented on #176
Good work both! It looks like HackMD is still a possible candidate - is
that right?

It might be helpful to you to make a little checklist of what you are
looking for - I usually do that when I'm evaluating software.

Since it looks like one option with Sandstorm is self-hosted, I wanted to
point out that keeping anything Mozilla self-hosts secure takes up a lot of
human time and thus money.  This

[2018-06-09 19:29] akshitac8 commented on #176
## Item list for software evaluation:
- [ ] Free
- [ ] open source [optional]
- [ ] Real-time editing with multiple editors
- [ ] Easy to access and does not need any perquisites.
- [ ] login required?
- [ ] Chat option is available or not?
- [ ] Does the host has the admin privileges?
- [ ] Session maintenance.
- [ ] Modes of editing Ex- Suggesting, Editing, Viewing
- [ ] Hyperlink, markdown and

[2018-06-10 08:51] akshitac8 commented on #176
Added @emmairwin  :smiley:

[2018-06-10 09:16] akshitac8 commented on #176
HackMD supports:
- [ ] Free
- [ ] open source [optional]
- [ ] Real-time editing with multiple editors
- [ ] Easy to access and does not need any perquisites.
- [ ] login required?
- [ ] Chat option is available or not?
- [ ] Does the host has the admin privileges?
- [ ] Session maintenance.
- [ ] Modes of editing (Ex- Suggesting, Editing, Viewing)
- [ ] Hyperlink, markdown and linting support (Bo

[2018-06-11 05:05] musingvirtual commented on #166
Hi Emma -

Can you elaborate on the part about putting a timeline in the repository? The one we are using has a lot of tables, and I can't figure out a way to make tables in Markdown.

Kate

[2018-06-11 05:11] musingvirtual commented on #168
I haven't really started on this and I don't think I'll realistically be able to make a start until after All-Hands (except for the part where we ask some of these questions at the workshop).

[2018-06-11 05:12] musingvirtual commented on #155
As per discussion we decided the number of these I've done is enough.

[2018-06-11 05:12] #155 closed

[2018-06-11 05:14] musingvirtual commented on #145
closed this issue doesn't really align with any priorities

[2018-06-11 05:14] #145 closed

[2018-06-11 05:14] musingvirtual commented on #156
closed since this has happened

[2018-06-11 05:14] #156 closed

[2018-06-11 05:15] musingvirtual commented on #127
haven't worked on this.

[2018-06-11 15:53] emmairwin commented on #166
Hmmm  Good point.

Think more broadly about how we can capture templates in a single place.   (this is a challenge in our roadmap as well.  Is it that you export a PDF  and store it in Github? Is it a page of links, that go to a Google Doc (or other type of document)?  What makes sense>>

[2018-06-11 16:08] emmairwin commented on #175
HI @drashti4   thanks for moving June 6th under future calls.
The June 27th link is still not there though?
![diversity_and_inclusion_for_communities_and_contributors_-_mozillawiki_-_2018-06-11_09 08 16](https://user-images.githubusercontent.com/60618/41243453-08c2cd86-6d57-11e8-836a-661918e5ac39.png)

[2018-06-11 16:40] emmairwin commented on #166
lets have a hard-deadline on sending the CPG update this week, no matter
what level of completion the timeline is in.

On Sun, Jun 10, 2018 at 10:05 PM, Katherine Mancuso <
notifications@github.com> wrote:

--
-- Emma Irwin

[2018-06-11 16:42] emmairwin commented on #168
The workshop and every conversation we have this week can inform this question.  I may take a start at the attributes this week, I think we have a good idea at this point based on our timeline.

[2018-06-11 16:45] emmairwin commented on #167
This looks good!  I pinged you to add your progress to today;s meeting dashboard.

[2018-06-11 16:45] emmairwin commented on #162
We will be sharing this with dev tools people at all hands.
also others for feedback.

[2018-06-11 16:55] drashti4 commented on #175
I updated 27 June link but didn't get you how it relate to #2

[2018-06-11 20:22] musingvirtual commented on #166
It's all completed for the cases actually the blocker at this point is that
I feel terrible that it's taken so long haha, but I'll go eat that frog now
:)

On Mon, Jun 11, 2018 at 9:40 AM, Emma <notifications@github.com> wrote:

[2018-06-11 23:10] emmairwin commented on #166
Thanks!!

On Mon, 11 Jun 2018, 1:22 PM Katherine Mancuso, <notifications@github.com>
wrote:

[2018-06-11 23:39] musingvirtual commented on #166
Frog successfully consumed.

Since we're diverse at Mozilla, I probably should explain in case people
are reading this thread -

Frogs are considered gross in the American diet (yes, I know people eat
them in other countries). Mark Twain once said "eat a live frog first thing
in the morning and nothing worse will happen to you all day." This quote
has given rise to an entire philosophy of producti

[2018-06-16 16:41] #172 closed

[2018-06-16 16:44] #160 closed

[2018-06-16 16:45] #149 closed

[2018-06-16 16:45] #151 closed

[2018-06-16 16:46] emmairwin commented on #159
we shared this at the all hands,
next steps will be new sprint

[2018-06-16 16:46] #159 closed

[2018-06-16 16:47] emmairwin commented on #140
Closing this for now premature goal.

[2018-06-16 16:47] #140 closed

[2018-06-16 16:48] #157 closed

[2018-06-16 16:49] emmairwin opened #177 "Sprint - Hazel"
I used a 'fairy name generator' to name this sprint.

"Hazel casts spells of enchantment. She lives in places hexed and tainted by black magic. She can only be seen when the bees swarm and the crickets chirrup. She wears black feathers and rose petals and has russet-coloured wings like a brightly coloured butterfly. "

Please close, or move tasks from the last sprint (Constantinople) to Sprint Haz

[2018-06-16 17:12] akshitac8 commented on #176
Should I proceed with HackMD?

[2018-06-18 19:16] musingvirtual commented on #175
Hi @drashti4 -

I believe Emma wants you to edit this page

https://wiki.mozilla.org/Diversity_and_Inclusion_for_Communities_and_Contributors#D.26I_in_Open_Source_Community_Calls

so that it links to your new page in the appropriate spot.

Hope that helps!

[2018-06-18 19:21] musingvirtual commented on #163
Hi Emma - have you collected any requirements for this interface from Michael, or do I need to go do that?

[2018-06-19 00:27] musingvirtual commented on #167
Closing this one, moving further work to new task for Hazel sprint.

[2018-06-19 00:28] musingvirtual commented on #166
Moving this forward to Hazel - have completed work on this for this sprint but have more cases spinning obviously.

[2018-06-19 14:42] emmairwin commented on #176
@emmairwin to review

[2018-06-19 14:47] emmairwin commented on #163
1) How to flag CPG violations? (what should look for?)
2)How to take a report?    (staff, and contributor version)
3)How to leverage our process. (email Kate/Emma).  - will eventually be a system.

This would be in a markdown file, single , called REPORTING.md

Goal of making this a template other open projects can use like README or CONTRIBUTING. .

[2018-06-19 14:55] akshitac8 commented on #176
updated hackmd link 😄

[2018-06-19 16:50] emmairwin commented on #167
Hey Kate - can you update on where you are before closing this?   thank you!

[2018-06-19 17:10] musingvirtual commented on #167
That was a doc to prepare for my meeting with Arielle. It is not up to date with the two demos I had last week or really ready for another person to use.  I had intended to make a production ready document initially but there was not time because I had casework.  Documentation and roadmaps that are ready to share will be the work of the next sprint.

[2018-06-19 17:11] #167 closed

[2018-06-19 18:14] emmairwin commented on #162
opening a new task related to this

[2018-06-19 18:14] #162 closed

[2018-06-19 18:19] emmairwin opened #179 "Priority Project is reviewed, iternated on for stakeholder sign-off in Q3"
## Objective Goal:
Priority Project is reviewed, iternated on and signed-off by key stakeholders

## Item list:
- [ ]  Priority project is reviewed with dev tools engineer(s) (R: @emmairwin)
- [ ]  Priority iteration is reviewed with George, Lucy Kate for feedback and sign off by devtools

[2018-06-19 18:23] emmairwin opened #180 "Inclusive Open Source Governce Call panel speakers identified, with call scheduled for July 25th"
## Objective Goal:
Inclusiuve Open Source Governce Call panel speakers identified, with call scheduled for July 25th
Originally this was for June but with Portland event too much...

## Item list:
- [ ] Invite Panel members representing at least 4 Open Source Archetypes (R: @emmairwin)
- [ ] Create and share questions in advance (R: @emmairwin)
- [ ] Setup Air Mo  (R:)

## Related Issues
[Referenc

[2018-06-19 18:26] emmairwin opened #181 "Our D&I Social in Portland (after CLS on June 24th) is setup for success"
## Objective Goal:
Our D&I Social in Portland (after CLS on June 14th) is setup for success.
(both Emma and Kate speaking)

## Item list:
- [x] Identify budget, and schedule catering (R: @emmairwin)
- [ ] Identify invite list, including brand  (R: @emmairwin)
- [x] identify speaker(s) for reception (R: @emmairwin)
- [ ] Book travel (@emmairwin, @musingvirtual)
- [ ] Event successfully executed

##

[2018-06-19 18:28] musingvirtual opened #182 "Systems Project"
## Objective Goal:

Documentation is prepared for the systems evaluation, and steps are taken toward figuring out who needs to be involved and generating a proposed timeline based on this. Goal is for signoff July 30th - is this manageable?

## Related documents and links

## Item list:

Hazel - Drafting documentation:
- [x] Create first draft of edited user story matrix (R: Kate)
- [x] Once user

[2018-06-19 18:29] emmairwin opened #183 "CHAOSS WG - Iterates on Goal-Metrics to include an initial set of standards for each"
## Objective Goal:
CHAOSS WG - Iterates on Goal-Metrics to include an initial set of standards for each

(this is a placeholder for my work in CHAOSS, how the wg actually moves forward is collective effort)

## Item list:
- [ ] Propose standards for demographics , leadership and governance

[2018-06-19 18:31] #166 closed

[2018-06-19 18:32] musingvirtual opened #184 "CPG Cases Running According to identified timelines"
## Objective Goal:
CPG Cases Running According to identified timelines

## Item list:
- [ ] Kate to contribute timeline to repo, perhaps with Akshita's assistance (R: Kate)
- [ ] All four open cases are running on schedule plus any new cases are triaged. (R: Kate)

## Related Issues
#166

[2018-06-19 18:33] emmairwin opened #185 "CPG Roadmap is SIgned off by Key Stakeholders"
## Objective Goal:
CPG Roadmap is SIgned off by Key Stakeholders

## Item list:
- [ ] Kate, Emma to review for final missing pieces based on recent conversations/All Hands (R: @musingvirtual
- [ ] Emma to review for resources with Lucy (is this timeline realistic!)(R: @emmairwin)

## Related Issues
[Reference meta issues and past issues] #

[2018-06-19 18:34] akshitac8 commented on #182
Do let me know if I can volunteer on this anywhere in this, if possible :)

[2018-06-19 18:35] akshitac8 commented on #184
Thank you for including me :smile_cat:

[2018-06-19 18:35] musingvirtual commented on #163
I am not sure whether I am going to have the time to work on this in this sprint, and this is outside of scope for Q2 goals.

Can we move this to the backlog, Emma, is there any reason we're doing it now?

[2018-06-19 18:36] emmairwin opened #186 "Womoz Safe Channel, Learning Synthesized, and Next Steps Proposed"
## Objective Goal:
With synthesized learning, and based on All Hands, and in collaboration with Delphine, propose next steps to L10N and Community Development teams for safe channels

## Item list:
- [ ] Emma to write up learning and recommendations
- [ ] Iteration of those with Delphine
- [ ] Delphine and Emma to submit to L10N and Comm Dev teams for approval

## Related Issues
[Reference meta is

[2018-06-19 18:45] akshitac8 commented on #186
Can I help here :slightly_smiling_face:

[2018-06-19 18:57] #158 closed

[2018-06-19 21:08] emmairwin commented on #163
Its in our Q2 goals.

[2018-06-20 14:27] musingvirtual opened #187 "Q3 Goals Work"
## Objective Goal:

We have delivered Q3 Charters and Q3 OKRs.

H1 goals in Workday are correct (merging Q1 & Q2), and performance conversations for H1 are scheduled.

## Related documents and links
* [Project Charter Template](https://docs.google.com/document/d/1XKJVVHzgWc5GpdnUUvH_aeJFFaPOQB4oAlP56K0GHJ4/edit)
* [Project Charters](https://drive.google.com/drive/u/0/folders/1Vuhzc42uBUPKN26XzfhEf

[2018-06-21 05:05] musingvirtual commented on #168
@akshitac8 - Can you take a crack at drafting the internal survey? Please create it in Google Forms and share it with me so I can revise it.

The list of questions is here: [](https://docs.google.com/document/d/1emWAV4kmq_WqmPbkN1ZIQq1kic7xDRFD7KTurl2mqLQ/edit)

[2018-06-21 18:49] akshitac8 commented on #168
OHkay, I am on it :)

[2018-06-21 20:42] adityac8 commented on #168
Done :) I have shared the form 😃

[2018-06-21 20:45] akshitac8 commented on #168
Sorry wrong account was logged in,  I am done with the form and shared with you the details :)

[2018-06-21 22:17] musingvirtual commented on #168
Hah I like that you and Aditya have to stop and figure out whose GitHub account is logged in, it's very wholesome.

I'll review the form a little later and also give you the second one - thanks for the fast turnaround!

[2018-06-21 23:16] akshitac8 commented on #168
Sorry, I was using the phone. I will keep in mind from next time.
Thank you for being supportive 😢😀

[2018-06-21 23:36] akshitac8 commented on #175
Hey, @drashti4 Are you still working on this?

[2018-06-22 00:01] musingvirtual commented on #168
@emmairwin Do you want to take a look at the near final version of the internal survey and let me know if there's any further improvements? It feels really long and I'm wondering if there are some questions we could cut, but I'm kind of zoomed in and not sure which ones feel less useful. Thanks!

https://docs.google.com/forms/d/e/1FAIpQLSc9YZRnAjmDI0jNOvrDL8mz6rWrxUfrSxUbdD3uoQyw5TKZVg/formRespons

[2018-06-22 00:06] akshitac8 commented on #168
@musingvirtual https://docs.google.com/forms/d/e/1FAIpQLSc9YZRnAjmDI0jNOvrDL8mz6rWrxUfrSxUbdD3uoQyw5TKZVg/viewform
this looks great :heart_eyes:

[2018-06-22 05:22] drashti4 commented on #175
I think Emma already done and date has been changed. July 25th call redirect to [this](https://wiki.mozilla.org/Diversity_and_Inclusion_for_Communities_and_Contributors/DI_Call_06_27_2018) where date is July 18.

[2018-06-22 18:55] akshitac8 commented on #170
Hey, @emmairwin I guess @drashti4 has done quite good work on the contributing.MD file and shall I reopen the PR and add more suggestions and proceed it to completion.
And I think we can change this to a beginners guide to ease out the process.
@drashti4  can you please make the required changes. Thank you :)

[2018-06-22 19:23] musingvirtual commented on #187
Updated to reflect new dates as communicated in Lucy's email.

[2018-06-23 06:22] drashti4 commented on #170
Hi @akshitac8 I need to add license link. Can anyone give suggest who will be consumer for this repo? and Who all will be project owners and contributors?

[2018-06-24 00:36] musingvirtual commented on #184
Update: Kate to deliver case update by end of day on Monday.

Intending to get back to reporter in case 25 and to brief implementer in case 22; case 24 stalled because reporter is on PTO.

[2018-06-24 00:38] musingvirtual commented on #181
I've contacted the travel team and asked them to set up an Egencia account for me.

Also, do you mean July 14th?

[2018-06-24 00:39] musingvirtual commented on #185
Hi @emmairwin - am I correct in thinking we completed this?

[2018-06-24 18:28] musingvirtual commented on #127
Have not started this - prioritizing systems project and request for Q3 planning.

[2018-06-26 22:29] emmairwin commented on #185
yes!  Closing

[2018-06-26 22:29] #185 closed

[2018-06-26 22:33] emmairwin commented on #163
Completed, instructions and support offer to CV to implement.

https://github.com/mozilla/repo-templates/blob/master/templates/REPORTING.md

[2018-06-26 22:33] #163 closed

[2018-06-27 00:21] emmairwin commented on #170
is there a pull request I can see? I'm not sure what we're looking at adding here... thank you

[2018-06-27 00:37] emmairwin commented on #168
Ok the internal one is ready to go, @musingvirtual - let me know please if you don't have time to send this week.

https://docs.google.com/forms/d/e/1FAIpQLSc9YZRnAjmDI0jNOvrDL8mz6rWrxUfrSxUbdD3uoQyw5TKZVg/formResponse

[2018-06-27 00:38] emmairwin commented on #168
do we also have the external one drafted?  Thank you

[2018-06-27 01:08] musingvirtual commented on #168
No we don't, sorry, I thought I was clear about that in email - I was planning to work on that tonight but I saw you were making changes to the internal one, so I wasn't sure if you were working on it.

I'll go over to working on it shortly after I finish the case 10 letter. :)

[2018-06-27 01:32] emmairwin commented on #168
great, thanks

On Tue, Jun 26, 2018 at 6:08 PM, Katherine Mancuso <notifications@github.com

--
-- Emma Irwin

[2018-06-27 03:12] musingvirtual commented on #168
Haha this was way easier than I thought I don't know why it didn't occur to me till a second ago that I could just clone and edit the internal one.

https://docs.google.com/forms/d/1GVz6Mjqr0f53vFuwMn0S98JjtetqIWPvvEEHaSbJq7E/edit

[2018-06-27 03:20] musingvirtual commented on #168
I started a list for recipients for the external one but my brain is not too thoughtful tonight, maybe with more coffee tomorrow!

https://docs.google.com/document/d/155Ow5cKjjrcENcmDAYM5urx-vxEqfB_I1rl-9QrI7Fw/edit

[2018-06-28 17:57] #175 closed

[2018-07-03 14:35] emmairwin opened #188 "Create an Initial Prototype"
- [ ] Create an initial prototype with technology of your choice
- [ ] Add 7 panels, with 7 titles to begin building out the atual metrics

[2018-07-03 14:37] akshitac8 commented on #170
I am taking over this

[2018-07-03 17:10] #177 closed

[2018-07-03 17:15] musingvirtual commented on #182
Moving to next sprint and adding some stuff :)

[2018-07-03 17:16] #187 closed

[2018-07-03 17:19] emmairwin opened #190 "CLS Presentation for CHAOSS WG is agreed on, and presented"
## Item list:
- [ ] propose rough outline for CLS presentation with WG (R: @emmairwin)
- [ ] session is presented! (R: @emmairwin)

[2018-07-03 17:20] akshitac8 opened #191 "Chaoss WG- Guide Styles for Contribution"
- [x] Design Contributing.md for newcomers

[2018-07-03 17:21] #161 closed

[2018-07-03 17:24] emmairwin opened #192 "Priority Project Early Planning is underway"
## Objective Goal:
We're moving our priority project planning and insight gathering forward,

## Item list:
- [ ] Interview debugger contributors (R: @emmairwin)
- [ ] Agree on scope with Lucy (R: @emmairwin)
- [ ] Sync on collaboration goals/way of working with Susy & Khrisna (R: @emmairwin)

[2018-07-03 17:24] musingvirtual commented on #165
Closing this because I combined it with the other "CPG timelines running" one!

[2018-07-03 17:24] #165 closed

[2018-07-03 17:24] musingvirtual commented on #127
Hey Emma, we decided to drop this for now even though it was originally a Q2 goal, right? Closing because I think that was the case.

[2018-07-03 17:24] #127 closed

[2018-07-03 17:26] emmairwin opened #193 "D&I executive presentation continues to make progress through org leadership"
## Objective Goal:
We are presenting this work to more execs

## Item list:
- [ ] Iterate, and present to execs as those calls are schedulked  (R: @emmairwin @geroter)

[2018-07-03 17:26] akshitac8 opened #194 "Create an Initial Prototype"
- [x] Select Tools
- [x] Create Panels for categories identified in our shared document (contribution, governance etc)
- [x] Make Panels Descriptive
- [x] Add 7 panels, with 7 titles to begin building out the atual metrics
- [x] Check in with Emma for prioritization of panels
- [ ] Visualize the panels with dummy dataset
- [ ] Document every query and steps

[2018-07-03 17:28] akshitac8 opened #195 "Tool to evaluate the PR Quality"
- [x] State the tools that can be used to evaluate the PR quality.

[2018-07-03 17:31] emmairwin opened #196 "D&I in Open Source Call - Planned, and Socialized for Aug 1"
## Item list:
- [ ] Finalize and share guest questions (R: @emmairwin)
- [ ] Socialize via various relevant channels including gov list people-interested (R: @emmairwin)

[2018-07-03 17:33] emmairwin opened #197 "MOSS Consultation is underway, with early alignment on ways we can embed D&I in that process"

[2018-07-09 14:18] musingvirtual opened #198 "We have an educated guess at 'What is CPG at Scale?'"
## Objective Goal:
Based on a series of surveys with community managers, and external orgs/projects we can describe and give a high level estimate of what response @ scale means.

## Related documents and links
* [https://docs.google.com/forms/d/1GVz6Mjqr0f53vFuwMn0S98JjtetqIWPvvEEHaSbJq7E/edit]

## Item list:
- [x] We distribute the survey at CLS and OSCON and through Twitter, and as part of our

[2018-07-09 14:18] #168 closed

[2018-07-09 14:22] musingvirtual opened #199 "Develop timeline and budget for system implementation"
## Objective Goal:
Understanding the timeline and budget - overall goal is to have a timeline and a budget figure by the time we get our procurement doc signed off. Continue working on signoff for procurement doc.

## Related documents and links
* [https://docs.google.com/document/d/143IX-EsfvnZJh-19lL6HGmOArJFCS28QPRy-y4t3zhQ/edit]
* [https://docs.google.com/spreadsheets/d/1Apc-XTYyUo518CeCQDPTBv

[2018-07-09 14:22] #182 closed

[2018-07-09 14:24] musingvirtual opened #200 "Successfully deliver CPG workshop for Community Leadership Summit"
## Objective Goal:
Successfully plan and deliver workshop for Community Leadership Summit (due July 14th)

## Item list:
- [x] Kate to plan workshop (R: Kate)
- [x] Kate to deliver workshop (R: Kate)

[2018-07-09 14:38] akshitac8 commented on #188
Duplicate of #194

[2018-07-09 14:38] #188 closed

[2018-07-09 22:10] emmairwin commented on #200
If you list out some goals for this session, I might have existing material
to send you.

On Mon, Jul 9, 2018 at 7:24 AM, Katherine Mancuso <notifications@github.com>
wrote:

--
-- Emma Irwin

[2018-07-15 19:39] akshitac8 commented on #195
Some of the tools to evaluate PR includes:
 - [ ] Travis
 - [ ] pep8 speaks
 - [ ] review-bot
 - [ ] sentiment-bot

[2018-07-16 18:26] akshitac8 commented on #195
@emmairwin Do let me know your views? :smiley:

[2018-07-17 02:08] musingvirtual commented on #200
All done!

(And Emma, I didn't need the existing material because they asked us only to speak for 5-10 min so I didn't want to overwhelm myself - but thank you.)

[2018-07-17 02:08] #200 closed

[2018-07-17 02:10] musingvirtual commented on #199
All done!

[2018-07-17 02:10] #199 closed

[2018-07-17 02:29] musingvirtual opened #201 "CPG Systems Project - Milestone 1 Part 2 & Milestone 2"
## Objective Goal:
Working towards milestones 1 & 2 - contract signature (July 31st) & security/data privacy audits (Aug 10th)

## Related documents and links
* (https://docs.google.com/spreadsheets/d/1Apc-XTYyUo518CeCQDPTBv3lsQYeJ-YMXEj8oA-ttK4/edit#gid=0)
* (https://docs.google.com/spreadsheets/d/1UtqLJlUmXyRd_b4YmrXJcv4joyYsn8y-Ma3tK5Afzx4/edit#gid=0)

## Item list:
- [x] Continue chasing sign-

[2018-07-17 02:34] musingvirtual opened #202 "Kate to share learnings from OSCON"
## Objective Goal:
Kate intends to share learnings and contacts from OSCON

## Item list:
- [x] Kate to assess the new video on Sketchnoting to figure out if that would be an interesting way to share  (R: @musingvirtual)
- [x] Kate to sketchnote at OSCON Wednesday if that makes sense (R: @musingvirtual)
- [ ] Kate to share learnings in the community development team channel and on Twitter (R: @mus

[2018-07-17 17:30] musingvirtual opened #203 "Do a retrospective to understand learnings from Case 17"
## Objective Goal:
Kate to create documents to understand learnings from Case 17 and circulate to RASCI

## Related documents and links
* [Links here](/thelink)

## Item list:
(This is mostly a placeholder until I can get to this, and it will probably go on the next sprint - but anyway we need to work on making sure we understand what could have gone better and generating actionable followup steps

[2018-07-21 00:00] musingvirtual commented on #202
I am not good at sketchnoting although I'm glad I tried it - it looks messy and not at all pretty. I'm trying to write up my learnings instead so I can post them somewhere, and will finish that next week/over the weekend.

[2018-07-21 00:02] musingvirtual commented on #201
I have made progress towards sign-off and continued to coordinate with the vendor. Both of these tasks are ongoing next week as well.

I updated this task to add a few more items which I will carry into the next two weeks.

[2018-07-21 00:17] musingvirtual commented on #198
Have chased and closed internal survey, will look at responses next week.

External survey has gotten some replies but not too many; next week I will send thank you emails to each of the people I met and in that process I will offer the survey up further.

[2018-07-21 00:17] musingvirtual commented on #203
Still active as a next task.

[2018-07-22 21:19] akshitac8 commented on #176
So, Should we shift this to dropbox paper @emmairwin?

[2018-07-22 21:20] akshitac8 commented on #170
The Issue is successfully merged :)

[2018-07-22 21:20] #170 closed

[2018-07-24 01:29] #192 closed

[2018-07-24 01:29] #193 closed

[2018-07-24 01:29] #164 closed

[2018-07-24 01:30] #190 closed

[2018-07-24 01:30] #180 closed

[2018-07-24 01:30] #169 closed

[2018-07-24 01:30] #186 closed

[2018-07-24 01:30] #181 closed

[2018-07-24 01:30] #183 closed

[2018-07-24 01:31] #179 closed

[2018-07-24 01:35] emmairwin commented on #195
I am only interested in what you think we should know about, and why :) if you have time . Prototype is priority.

[2018-07-24 03:59] akshitac8 commented on #195
Ohkay, I am up for sentiment bot :)

[2018-07-24 03:59] akshitac8 commented on #191
Done :)

[2018-07-24 03:59] #191 closed

[2018-07-24 04:00] akshitac8 commented on #176
Ohkay :)

[2018-07-24 04:42] musingvirtual commented on #201
Working with Alicia Gray, have reached out to Arielle to see what info she will need to scope Mozillians Groups, have sent Rina information.

[2018-07-31 22:18] #114 closed

[2018-07-31 22:38] emmairwin opened #205 "All research required for Devtools experiment are completed, and insights shared"
## Objective Goal:
All quantitative, and qualitative research goals have been documented, and completed.

## Related documents and links
* [Internal Charter](https://docs.google.com/document/d/1fZcWKvvA0s9DnXxov4K0FNPMTuNwEOhtKmvIoHpg8p8/edit)

## Item list:
- [ ] Devtools contributor interviews are completed(R: @emmairwin)
- [ ] External interviews are identified,  and scheduled (R: @emmairwin)
-

[2018-07-31 22:39] musingvirtual commented on #203
Can't really prioritize this one at this point closing it.

[2018-07-31 22:39] #203 closed

[2018-07-31 23:52] musingvirtual commented on #202
Was working on a collaboration with Michael in IT to do this together. He's being a blocker here so going to write up a one page doc and share it with the community development team and move on with my life.

[2018-08-01 01:33] musingvirtual commented on #198
My thank you emails were not successful in generating replies to the survey although a number of people were probably at Google Cloud Next so that could be the reason.

I sent a second wave of emails targeting CoC contacts for various projects and followed up with the Cloud Next people, and I'll mention the survey on the call.

Hopefully we'll get there with responses, this has been harder than an

[2018-08-02 14:04] musingvirtual commented on #201
Closing this and reflecting tasks in new epic.

[2018-08-02 14:04] #201 closed

[2018-08-02 14:04] #202 closed

[2018-08-02 14:05] musingvirtual commented on #198
Closing this and moving task to new epic

[2018-08-02 14:05] #198 closed

[2018-08-02 14:18] emmairwin opened #206 "Leveraging CHAOSS D&I gial-metrics, a Kibana prototype is created, and shared on the OI call (and beyond)"
## Objective Goal:
We have an early prototype of what D&I metrics that matter

## Item list:
- [x]  Setup call with Daniel to answer questions/speed up knowledge (Due-Date August 2nd R: @emmairwin)
- [x]  Find host for solution (Due-Date August 6th:   R: @emmairwin @akshitac8 )
- [x]  Add data dummy-set, to make visualizations look more realistic (Due-Date August 11th:  R: @akshitac8 @emmairwin)
-

[2018-08-02 14:30] emmairwin opened #207 "Hotline System Milestones for Form, and Data privacy are completed"
## Objective Goal:
We've completed our data privacy policy, established the fields for our reporting form, and established a timeline for technical implementation.

## Item list:
- [x] Kickoff call with vendor to agree on time-line (Due-Date: August 10th R: @musingvirtual )
- [x] Data policy is signed-off (Due-Date: August 24th R: @musingvirtual )
- [ ] Draft of reporting form delivered to Converc

[2018-08-02 14:40] emmairwin opened #208 "A First Draft of the CPG playbook is created, and shared with key stakeholders for feedback"
## Objective Goal:
We have a first draft to interact with and iterate.

## Item list:
- [x] First outline completed (Due-Date: Aug 14th R: @musingvirtual )
- [ ] Draft completed  (Due-Date: Aug 26th R @musingvirtual:)
- [ ] Shared with key stakelhoders (Due-Date: Aug 27th R: @musingvirtual )

[2018-08-02 14:53] emmairwin opened #209 "We have an early implementation for time tracking and providing reports of time spent consulting and responding to CPG Cases"
## Objective Goal:
We are tracking and providing reports of time spent consulting and responding to CPG Cases

## Item list:
- [x]  Identify which attributes we will track for cases, and for consultation (Due-Date: August 10th R: @musingvirtual )
- [ ]  Tracking is setup, and being implemented as part of all case and consultation work (Due-Date: August 24th R: @musingvirtual  )
- [x]  Reports adde

[2018-08-02 15:00] emmairwin opened #210 "Based on survey results, have shared insights into the question 'What is Scale' - and are beginning to apply to systems implementation planning"
## Item list:
- [x] Clarify privacy policy for external CPG data  (R: @musingvirtual )
- [x] Meet with Emma H, to review current triage materials and if there are existing Bugzilla triage processes we can leverage (@mussingvirtual)
- [ ] Synthesize findings from surveys into summary, and share with CB team/async (R : @musingvirtual
- [ ] Blog post written  (R: @emmairwin )

[2018-08-02 15:23] #194 closed

[2018-08-03 23:04] emmairwin opened #211 "Devtools research is moving forward with approved goals, and alignment with stakeholders"
## Objective Goal:
Detailed description on what should happen to conside this a success.

## Related documents and links
* [Links here](/thelink)

## Item list:
- [x] Kickoff for devtools w/ Susy & Krishna (Due Date: August 10th R: @emmairwin )
- [x] Devtools team is updated with outcome of kickoff meeting (Due Date: August 17th  R: @emmairwin & Susy)
- [ ]  I can summarize what the impact of P1,

[2018-08-05 20:48] akshitac8 commented on #195
We need to install this for the Diversity Repo
https://github.com/apps/sentiment-bot
to make the review process a bit easy.
@emmairwin  Do let me know if any problems occur :)

[2018-08-07 14:39] emmairwin commented on #206
External hosting is now optional task

[2018-08-07 17:23] emmairwin opened #212 "D&I Strategy for MOSS is underway according to approved timeline"
## Objective Goal:

## Item list:
- [x]  Goals and strategy are reviewed by MOSS team, and updated based on that feedback Due (August 17th R: @emmairwin)
- [ ] Consultation with legal on diversity fields, and CPG api
- [ ] Application funnel, and grantee baseline measurements underway   (Due Date: August 17th R: @emmairwin)
- [ ]  Review with Mitchell scheduled (R: @emmairwin)

[2018-08-07 19:44] emmairwin opened #213 "We've interviewed 3 big open source projects about their D&I goals, and scheduled a D&I call with at least one on this topic"
## Item list:
- [x] Write introduction/ask content (due-date: August 8, R: @emmairwin)
- [ ] Reach out to 5 big open source projects (due date August 10th R: @emmairwin)
- [ ] Completed at least 3 interviews (due date Aug 31: R: @emmairwin)
- [ ] D&I call scheduled (Due Date August 27th R: @emmairwin )
- [ ]  Initial draft of the D&I Network is created  (Due Date August 27th R: @emmairwin )

[2018-08-07 19:56] emmairwin opened #214 "4 New Standards for D&I in Open Governance are proposed, signed-off by legal, and added to 3 repositories"
## Item list:
- [x] new version of REPORTING.md is proposed (with mika) (R: @emmairwin)
- [x] (R:  checklist for governance (minimal)  is completed, shared for review, and contributed to CHAOSS WG @emmairwin)
- [x] R:  checklist for governance (advanced) is completed and shared and contributed to CHAOSS WG (R: @emmairwin)

[2018-08-07 20:12] emmairwin opened #215 "A draft narrative of D&I as a strategic advantage to product (in open source ecosystem) is created"
For someone who is reading this. I ran up against a narrative recently - that spoke about D&I as not being about the technology we are building; and a threat to innovation.   Although so much data exists, to support D&I as a lever for innovation, and here we are debating it.

The goal here is to collect internal and external stories about the difference of diversity - including removing toxic peop

[2018-08-13 14:53] #205 closed

[2018-08-20 16:06] musingvirtual commented on #207
The data policy has been signed off by Alicia, but she wants to approve where it appears in the reporting form so I've added this to my critical path.  There is an additional activity around flow for GDPR requests which she raised that we are completing this week.

I am very concerned about delivering the reporting form at this point because I've found out that I won't have access to the system un

[2018-08-20 16:12] musingvirtual commented on #208
Relieved to have one project here that has no external delays or yaks to shave!

[2018-08-20 16:13] musingvirtual commented on #210
I haven't started this but I'm sort of wondering if I can fit some work on this in later this week. Let me do some planning a little later today/early tomorrow and let you know.

[2018-08-20 16:14] musingvirtual commented on #209
There are also no issues here and this work is on schedule to deliver by the end of the sprint!

[2018-08-20 23:28] emmairwin commented on #214
we do have a first draft of reporting, but it will no longer be its own file
it will be a mozilla.org page, linked from CODE_OF_CONDUCT.md  standard template.

[2018-08-20 23:29] emmairwin commented on #211
Interviews are underway
I installed the devtools environment, played around with code, and learned what support docs exist.  next to write the script.

Scheduling people underway ( I have 5 volunteers for user testing)

[2018-08-20 23:29] #215 closed

[2018-08-23 19:07] emmairwin commented on #210
Hi @musingvirtual can you please share the results document with me?  Thanks!

[2018-09-01 02:54] #210 closed

[2018-09-01 02:54] #211 closed

[2018-09-01 02:54] #214 closed

[2018-09-01 02:55] #209 closed

[2018-09-01 02:55] #208 closed

[2018-09-01 02:55] #195 closed

[2018-09-01 02:55] #206 closed

[2018-09-01 02:55] #207 closed

[2018-09-01 02:55] #212 closed

[2018-09-01 02:55] #213 closed

[2018-10-10 14:11] emmairwin opened #216 "Communication Templates for CPG Enforcement"
- [ ] "So you're on a CPG RASCI"  - generic onboarding text for email to what/why/when/where/who.
- [ ]  "You're in a CPG Case" - generic email for comms with specific about timeline, what to expect, when, where.  (with placeholders for those)

Will add more.

[2018-10-10 15:18] emmairwin commented on #216
Added Contributor wanted, if you are interested in learning about our CPG (CoC) process, this is a good way.

[2019-01-31 04:02] joopeed commented on #216
Hi @emmairwin, can I get more detail on this one, please?

[2019-02-18 01:32] moz-hwine opened #220 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/diversity/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacement of

[2019-02-20 20:41] emmairwin commented on #220
Thanks for this, updated.

[2019-02-20 20:42] #216 closed

[2019-02-20 20:42] emmairwin commented on #216
sorry this was outdated.

[2019-02-21 22:00] #220 closed

[2019-03-30 06:06] Mozilla-GitHub-Standards opened #222 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-31 18:29] #222 closed

[2019-08-24 06:10] tapaswenipathak opened #226 "Retaining woman in open source: Organising open source day montly"
Hi folks: Finding an active open source contributor or maintainer woman is hard. Internships give a break in open source, if observed there is no retention of women in open source and research[1] suggests. Implementing open source day per month letting woman work with mentor and contribute in an open source project they would like would be practical implementation than just publishing research and

[2019-09-25 21:59] emmairwin commented on #226
I am sorry I did not see this before!
I suggest, that you post this to https://groups.google.com/forum/#!members/diversity--inclusion-in-open-source   I can help support, by way of goal-setting

[2019-09-26 16:17] brainwane opened #229 "diversity & open source history curriculum - a few resources"
## Objective Goal:
I'd like for you to consider using these documents as you develop a curriculum on the history of diversity in open source.

## Related documents and links
* [history of Outreachy](https://www.harihareswara.net/sumana/2015/03/05/0)
* [Where are the women in the history of open source?](http://crookedtimber.org/2015/05/21/where-are-the-women-in-the-history-of-open-source/)
* [What

[2019-10-06 22:27] emmairwin commented on #229
Thank you @brainwane I will, absolutely.

[2019-10-06 22:27] #226 closed

[2019-12-16 15:21] emmairwin opened #234 "Automate reporting of cases found in systems (like Github/Bugzilla)"
We need a faster way to file reports when dealing with reports from issue trackers. Does the reporting system we use have an API. I'd like to be able to go to a comment and, as an administrator, click on a "file report on this comment" button.

[2019-12-19 21:48] emmairwin opened #235 "The selected 'answers' in our CPG course quizes are a very faint grey and hard to see."
It was reported that the background color for 'selected' quiz answers was too light  - and difficult to assess.  Use platform CSS override to make this more prominent

[2019-12-19 21:50] emmairwin opened #236 "Proof all CPG content"
Although we've fixed typos as much as possible, there are still some reports.   Lets setup each module for proper  editorial review in the new year.

[2020-03-08 08:15] lazaridiscom opened #240 "Are you serious?"
from: https://github.com/mozilla/diversity/blob/master/evaluation_tools/contributor-testing-steps.md

What do you address? Monkeys? "log into the chat channel and say hi".

You discriminate and exclude higher-grade thinkers, which give not even a piece of trash for all this redundant overhead.

The "Code of Conducts" cannot withstand any evaluation, it is a pure insult, discriminating in itself.

[2020-03-09 15:00] emmairwin commented on #240
Hey @lazaridiscom , with account created 15 days ago.
This is not an assessment of contributor intelligence, but a script for testing project ready-ness for contributors. IF someone says 'hi' and no one responds, it doesn't really matter if they are a 'higher grade thinker'.

If you read the intro 'he intention is to see how well a project is setup to accommodate those without luxury of hours of t

[2020-03-09 15:00] #240 closed

[2020-03-09 16:09] lazaridiscom commented on #240
Comment-close.

I've learned all I wanted to learn.

No wonder Mozilla is falling more and more behind.

[2020-03-09 18:01] #234 closed

[2020-03-09 18:02] #236 closed

[2020-09-10 20:30] devdev606 commented on #222
Mozilla-GitHub-Standards / 341e5825ae7760c2eeac2213ac6c42baf671897848fb19d59c4a945a4f4885c5

[2020-09-11 22:52] Kasey777K opened #247 "Ychanov1987@icloud.com"
iCloud account

[2020-09-14 14:27] #247 closed

[2020-11-15 18:01] RethinkPlasticOrg opened #260 "Gender Diversity"

[2021-02-08 18:58] couci commented on #260
I am closing this as there no info provided.

[2021-02-08 18:58] #260 closed

[2021-02-22 22:54] emmairwin commented on #229
^ Spam

[2021-02-23 04:54] TenebrisVulpes opened #264 "Adds functionality to add files to an existing gist. Add files with absolute path, relative path, files present in the current working directory and new files from stdin."
Adds functionality to add files to an existing gist. Add files with absolute path, relative path, files present in the current working directory and new files from stdin.

Closes #2903

__Originally posted by @g14a in https://github.com/cli/cli/pull/2997__

[2021-02-23 05:03] TenebrisVulpes opened #265 "Thanks for opening this!"
Thanks for opening this!

I'd like this work to be adding a new flag to `gh edit` called `--add`; eg:

[code]

that can be invoked multiple times to add files to a gist.

Assigning this to @g14a . Let me know if you have questions on the implementation.

__Originally posted by @vilmibm in https://github.com/cli/cli/issues/2903#issuecomment-780149260__

[2021-02-23 05:03] TenebrisVulpes opened #266 "Thank you @vilmibm Do we give a choice to the user to"
Thank you @vilmibm Do we give a choice to the user to

1. Open new files and add them to the gist
2. Add existing files in the current working directory?

__Originally posted by @g14a in https://github.com/cli/cli/issues/2903#issuecomment-780283746__

[2021-02-23 05:04] TenebrisVulpes opened #267 "You know the drill!"
You know the drill!

When you get a chance, open a PR on your personal and team building goals for **Aug, Sept, Oct**. Remember to:

- Follow the [Objectives and Key Results format](https://en.wikipedia.org/wiki/OKR)
- Focus on your strengths.
- Focus on aligning our team goals with your long-term goals as much as possible.

Let's use the following format:

### Technical Development Goals -- Inclu

[2021-02-23 05:16] TenebrisVulpes opened #268 "Could it be possible to use a revived function upon importing the JSON module?"
Could it be possible to use a revived function upon importing the JSON module?

Maybe another option, in line with the assertions proposal; ex:

[code]

The author may want the reviver to be called before the object is placed into the import graph. So that all imports may now yield the revived object for efficiency and performance.

But at that point, it *could* very well be debated that the autho

[2021-02-23 11:50] couci commented on #229
Closing as suggested by @emmairwin

[2021-02-23 11:50] #229 closed

[2021-02-23 11:52] couci commented on #264
This is not related to mozilla's inclusion work, closing

[2021-02-23 11:52] #264 closed

[2021-02-23 11:52] couci commented on #265
This is not related to mozilla's inclusion work, closing

[2021-02-23 11:52] #265 closed

[2021-02-23 11:53] couci commented on #266
This is not related to mozilla's inclusion work, closing

[2021-02-23 11:53] #266 closed

[2021-02-23 11:53] couci commented on #267
This is not related to mozilla's inclusion work, closing

[2021-02-23 11:53] #267 closed

[2021-02-23 11:53] couci commented on #268
This is not related to mozilla's inclusion work, closing

[2021-02-23 11:53] #268 closed

[2021-04-02 19:14] Budda0ne opened #269 "Firefox"

[2021-04-06 12:35] couci commented on #269
There is nothing actionable here - closing

[2021-04-06 12:35] #269 closed

[2021-05-18 03:52] Hichamchamas opened #273 "Hi ham"
#!/usr/bin/env bash

# [start-readme]
#
# Installs/updates all dependencies necessary for the docs environment. Equivalent of `npm install`.
#
# [end-readme]

source script/check-for-node

npm install

[2021-05-25 22:34] Saravia83c opened #275 "No"

[2021-06-15 16:46] haza31986 commented on #273
#275

[2021-06-17 04:44] brooksjuice7 opened #278 "Apple"

[2021-06-18 05:49] Pkanjai opened #279 "Its godod"
Its godod

_Originally posted by @SaifAls7 in https://github.com/mozilla/inclusion/pull/270#discussion_r651973069_

[2021-06-23 18:35] iam-py-test commented on #278
@brooksjuice7 this repo is for @mozilla, and has nothing to do with Apple

[2021-07-03 04:03] eiygy opened #280 "Create.md"

[2021-07-05 09:10] couci commented on #278
Closing this since this doesn't have anyy description

[2021-07-05 09:10] #278 closed

[2021-07-06 02:41] a1gg007 opened #282 "really"

[2021-08-09 20:50] emmairwin opened #286 "Turn off Issues for this Repo"
As this is not being actively maintained, it would be good to turn off issues, to avoid spamming as lots of folks (including me :)  still reference this repository for content.

[2021-08-11 15:48] couci commented on #286
Good idea, I will do that

[2021-08-11 15:48] #286 closed

[2021-08-12 12:29] #280 closed